{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}cbc2013{% endblock %}
{% block subpage_title %}Photos from CBC 2013{% endblock %}

{% block subpage_content %}
    <div id="slidercontainer">
        <div id="slider">
            <ul>
                {% for i in range(1, 66) %}
                <li>
                    <img src="static/photos/CBC-{{ i }}.jpg">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p class="bold">More information about last year's event can be found <a href="/2013/">here</a></p>
{% endblock %}
