{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}cbc2013{% endblock %}
{% block subpage_title %}Photos from <a href="/2013/">CBC 2013</a>{% endblock %}

{% block subpage_content %}
    <div id="slidercontainer">
        <div id="slider">
            <ul>
                <li>
                    <img src="static/photos/1.jpg">
                </li>
                <li>
                    <img src="static/photos/2.jpg">
                </li>
                <li>
                    <img src="static/photos/3.jpg">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
