{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}partners{% endblock %}
{% block subpage_title %}Partners &amp; Supporters{% endblock %}

{% block subpage_content %}
    <div class="centered">
        <a href="https://www.cus.org/"><img class="sponsorlogo widerlogo" src="static/images/logo-cus.png" alt="Cambridge Union Society"></a>
        <a href="http://www.bowtie-interior.com/"><img class="sponsorlogo" src="static/images/logo-Bow_tie.jpg" alt="Bow tie"></a>
        <a href="http://www.estonia.eu/"><img class="sponsorlogo widerlogo" src="static/images/logo-Welcome_to_Estonia.png" alt="Welcome to Estonia"></a>
        <a href="http://www.lithuanianleaders.com/"><img class="sponsorlogo" src="static/images/logo-GLL.png" alt="Global Lithuanian Leaders"></a>
        <a href="http://estonianworld.com/"><img class="sponsorlogo widerlogo" src="static/images/logo-Estonian_World.png" alt="Estonian World"></a>
        <a href="http://www.estonia.gov.uk/"><img class="sponsorlogo widestlogo" src="static/images/logo-estonian-emb.jpg" alt="Embassy of the Republic of Estonia in the United Kingdom"></a>
        <a href="http://www.lrt.lt/pradzia"><img class="sponsorlogo" src="static/images/logo-lrt.png" alt="LRT"></a>
        <a href="http://en.delfi.lt/"><img class="sponsorlogo" src="static/images/logo-Lithuania-Tribune.png" alt="The Lithuania Tribune"></a>
    </div>
{% endblock %}
