{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}patrons{% endblock %}
{% block subpage_title %}Patrons{% endblock %}

{% block subpage_content %}
    <div class="patron-container">
        <div class="speakerrow">
            <div class="speaker">
                <img src="static/images/david-hunt.jpg">
                <h3>David Hunt</h3>
                <h4>British Ambassador to Lithuania</h4>
            </div>
            <div class="speaker">
                <img src="static/images/sarah-cowley.jpg">
                <h3>Sarah Cowley</h3>
                <h4>British Ambassador to Latvia</h4>
            </div>
            <div class="speaker">
                <img src="static/images/chris-holtby-obe.jpg">
                <h3>Chris Holtby OBE</h3>
                <h4>British Ambassador to Estonia</h4>
            </div>
        </div>
    </div>
{% endblock %}
