{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}photos{% endblock %}
{% block subpage_title %}Photos{% endblock %}

{% block subpage_content %}
    <p class="centered bold">Photos from Cambridge Baltic Conference 2014 are available!</p>
    <div class="speaker-container">
        <a href="https://www.dropbox.com/sc/40w2w1k21h324vl/AACWJYiNLqB8XoQj_vg5JeY5a">
            <div id="photos-block" class="speaker">
                <img src="static/images/cover.jpg">
                <div class="speaker-info-panel">
                    <h3>CBC 2014 Photos</h3>
                    <div class="speaker-conf-panel">View via Dropbox →</div>
                </div>
            </div>
        </a>
    </div>
{% endblock %}

{% block bodyscript %}
    {{ super() }}
    $(function() {
        $("#slider").slidesjs({
            width: 1000,
            height: 665,
            navigation: { active: false },
            pagination: { active: false },
            play: { auto: true }
        });
    });
{% endblock %}
