{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
    <div id="kings"></div>
    <div id="schedule-container">
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedday">Friday 10th October - Workshops Day<sup>*</sup></span>
                <li><span>09:00 - 10:00</span>Registration and Introduction</li>
                <li><span>10:00 - 12:00</span>Google X Challenge on Innovation in Education</li>
                <li><span>12:00 - 13:00</span>Teamwork on Policy Proposals</li>
                <li><span>13:00 - 14:00</span>Lunch break</li>
                <li><span>14:00 - 16:00</span>Consultations with the Experts</li>
                <li><span>16:00 - 18:00</span>Leadership and Debating Workshop</li>
                <li><span>18:00 - 19:00</span>Debate Competition</li>
                <li><span>19:00 - 20:00</span>Dinner</li>
                <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
            </ul>
            <div class="schedule-description">
                <p>
                    We, ourselves young students, are taking the lead in educational innovation by creating an educational project within the conference on Education. The mission of this educational project is to create a medium of exchange for educational change. Workshop Day will be a day of conference meetings and workshops for discussions on education and skills training, which are designed and dedicated to high-flying students from the Baltic countries and the United Kingdom.
                </p>
                <p>
                    We believe that good questions outrank easy answers. We want to empower the students so that they can give answers by representing their views and coming up with solutions that will re-envision and reinvigorate Education in the Baltics. In addition, we will prepare them for asking demanding questions by providing training through informational, leadership, debate and public speaking workshops and discussions, which will enable them to question the answers represented by the speakers on the second conference day. In doing this and representing the ideas of the youth on the second day panel discussions we want to encourage everyone to always think of themselves as students, who continuously learn and go forward.
                </p>
            </div>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedday">Saturday 11th October - Conference Day</span>
                <li><span>09:00 - 10:00</span>Registration</li>
                <li><span>10:05 - 10:25</span>Welcome speech</li>
            </ul>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedsection">First session - Skills versus Knowledge in Secondary Education</span><hr>
                <li><span>10:30 - 10:50</span>Keynote speech</li>
                <li><span>11:00 - 12:00</span>Panel discussion</li>
                <li><span>12:00 - 12:15</span>Coffee break</li>
            </ul>
            <div class="schedule-description">
                <p>
                    Education and business leaders worldwide desire today's students to both master school subjects and excel in areas such as problem solving, critical thinking, and interpersonal communication - abilities referred to as "21<sup>st</sup> century skills". Could development of transferable knowledge and skills be the key to success in education and work also in the Baltics? How and when this is to be achieved?
                </p>
            </div>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedsection">Second session - Best Practices in Higher Education</span><hr>
                <li><span>12:20 - 12:40</span>Keynote speech</li>
                <li><span>12:50 - 13:50</span>Panel discussion</li>
                <li><span>14:00 - 15:00</span>Lunch break</li>
            </ul>
            <div class="schedule-description">
                <p>
                    The panel on higher education will discuss the ideal practices in higher education in both the Baltic countries and the UK. Speakers will touch upon issues such as practical versus theoretical approaches to learning, the role of extracurricular activities, students' work experience and international student exchanges.
                </p>
            </div>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedsection">Third session - Does Education Foster Entrepreneurship?</span><hr>
                <li><span>15:10 - 15:30</span>Keynote speech</li>
                <li><span>15:40 - 16:40</span>Panel discussion</li>
                <li><span>16:40 - 16:55</span>Coffee break</li>
            </ul>
            <div class="schedule-description">
                <p>
                    Does education foster entrepreneurship? Would successful entrepreneurs have been successful regardless of their education? What can we change in our current educational system for there to be more Zuckerbergs etc., particularly within the Baltic States?
                </p>
            </div>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedsection">Closing session - Future Trends and Innovations in the Field of Education</span><hr>
                <li><span>17:00 - 17:20</span>Keynote speech</li>
                <li><span>17:30 - 18:30</span>Panel discussion</li>
            </ul>
            <div class="schedule-description">
                <p>
                    From primary to higher education, traditional teaching methods are being challenged both globally and within Baltic countries and are shaping a new way of building knowledge and teaching the youth of today and tomorrow. Where is the future of education moving, as well as where should it be moving, in both the level of Baltic states and the rest of the world?
                </p>
            </div>
        </div>
        <div class="schedule-row">
            <ul class="schedule">
                <span class="schedsection">Networking dinner</span><hr>
                <li><span>19:00 - 23:00</span>Dinner and networking reception<sup>*</sup></li>
                <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
            </ul>
        </div>
    </div>
    
{% endblock %}
