{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
    <div id="kings"></div>
    <ul class="schedule">
        <span class="schedday">Friday 10th October - Workshops Day<sup>*</sup></span>
        <li>Student selection process commences on September 1st! Be ready!</li>
        <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
        <span class="schedday">Saturday 11th October - Conference Day</span>
        <li><span>09:00 - 10:00</span>Registration</li>
        <li><span>10:05 - 10:25</span>Welcome speech</li>
        <span class="schedsection">First session - Skills versus Knowledge in Secondary Education</span><hr>
        <li><span>10:30 - 10:50</span>Keynote speech</li>
        <li><span>11:00 - 12:00</span>Panel discussion</li>
        <li><span>12:00 - 12:15</span>Coffee break</li>
        <span class="schedsection">Second session - Best Practices in Higher Education</span><hr>
        <li><span>12:20 - 12:40</span>Keynote speech</li>
        <li><span>12:50 - 13:50</span>Panel discussion</li>
        <li><span>14:00 - 15:00</span>Lunch break</li>
        <span class="schedsection">Third session - Does Education Foster Entrepreneurship?</span><hr>
        <li><span>15:10 - 15:30</span>Keynote speech</li>
        <li><span>15:40 - 16:40</span>Panel discussion</li>
        <li><span>16:40 - 16:55</span>Coffee break</li>
        <span class="schedsection">Closing session - Future Trends and Innovations in the Field of Education</span><hr>
        <li><span>17:00 - 17:20</span>Keynote speech</li>
        <li><span>17:30 - 18:30</span>Panel discussion</li>
        <span class="schedsection">Networking dinner</span><hr>
        <li><span>19:00 - 23:00</span>Dinner and networking reception<sup>*</sup></li>
        <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
    </ul>
{% endblock %}
