{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
    <span id="touch-notice"><p class="centered">Tap on or place your mouse cursor over the speakers to display their biography details.</p></span>
    <div class="speaker-container">
        <div class="speaker">
            <img src="http://placehold.it/600x325">
            <div class="speaker-info-panel">
                <h3>Sir Paul Judge</h3>
                <div class="speaker-conf-panel">Does Education Foster Entrepreneurship?</div>
                <div class="speaker-bio">
                    <ul>
                        <li>Alderman for the Ward of Tower of the City of London</li>
                        <li>President of the Association of MBAs</li>
                        <li>Member of Advisory Board of HEC Paris and RANEPA</li>
                        <li>Chairman of British-Serbian Chamber of Commerce</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="speaker">
            <img src="static/images/dr-roberts-kilis.jpg">
            <div class="speaker-info-panel">
                <h3>Dr Roberts Ķīlis</h3>
                <div class="speaker-conf-panel">Skills versus Knowledge in Secondary Education</div>
                <div class="speaker-bio">
                    <ul>
                        <li>Leading author of Latvia 2030 long term strategy (2007-2009)</li>
                        <li>Minister of Education and Science of Latvia (2011-2013)</li>
                        <li>Associate professor and Head of Business Department, SSE Riga</li>
                    </ul>
                </div>
            </div>
        </div>
        {#
        <div class="speaker">
            <img src="static/images/mr-siim-kallas.jpg">
            <div class="speaker-info-panel">
                <h3>Mr Siim Kallas</h3>
                <div class="speaker-bio">
                    <ul>
                        <li>Vice-President of the European Commission</li>
                        <li>European Commissioner for Transport</li>
                        <li>Prime Minister of Estonia (2002-2003)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="speaker">
            <img src="static/images/mr-edward-lucas.jpg">
            <div class="speaker-info-panel">
                <h3>Mr Edward Lucas</h3>
                <div class="speaker-bio">
                    <ul>
                        <li>International Editor of The Economist</li>
                        <li>Oversees the political coverage of Central and Eastern Europe</li>
                        <li>Journalist and author</li>
                    </ul>
                </div>        
            </div>
        </div>
        <div class="speaker">
            <img src="static/images/mr-arnoldas-pranckevicius.jpg">
            <div class="speaker-info-panel">
                <h3>Mr Arnoldas Pranckevičius</h3>
                <div class="speaker-bio">
                    <ul>
                        <li>Diplomatic Adviser to the President of the EP (2009-2012)</li>
                        <li>President of the Lithuanian Community in Belgium</li>
                        <li>Domestic Policy Adviser to the President of Lithuania (2004-2005)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="speaker">
            <img src="static/images/dr-richard-mole.jpg">
            <div class="speaker-info-panel">
                <h3>Dr Richard Mole</h3>
                <div class="speaker-bio">
                    <ul>
                        <li>Senior Lecturer in Political Sociology at University College London</li>
                        <li>Author of <i>The Baltic States from the Soviet Union to the European Union</i> (Routledge, 2012)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="speaker">
            <img src="static/images/pres-valdas-adamkus.jpg">
            <div class="speaker-info-panel">
                <h3>President Valdas Adamkus</h3>
                <div class="speaker-bio">
                    <ul>
                        <li>President of Lithuania: from 1998 to 2003 and from 2004 to 2009</li>
                        <li>UNESCO Goodwill Ambasador</li>
                        <li>European of the Year 2007</li>
                    </ul>
                </div>
            </div>
        </div>
         #}
    </div>
    <p class="notice centered">More speakers to be announced very soon. <a href="#contact">Follow</a> us on Facebook and Twitter to get live updates!</p>
{% endblock %}

{% block bodyscript %}
    {{ super() }}
    $(function() {
        $(".speaker-container").hover(function(){
            $(".speaker-bio").slideToggle();
            $("#touch-notice").css('visibility', 'hidden');
        }, function(){
            $(".speaker-bio").slideToggle();
        });
    });
{% endblock %}
