{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
    <div id="speakers-panel">
        <span id="touch-notice"><p class="centered">Tap on or place your mouse cursor over the speakers to display their biography details.</p></span>
        <div class="schedsection">Skills versus Knowledge in Secondary Education</div>
        <hr>
        <div class="speaker-container se-panel">
            <div class="speaker">
                <img src="static/images/dr-roberts-kilis.jpg">
                <div class="speaker-info-panel">
                    <h3>Dr Roberts Ķīlis</h3>
                    <div class="speaker-conf-panel">Keynote speech</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Leading author of Latvia 2030 long term strategy (2007-2009)</li>
                            <li>Minister of Education and Science of Latvia (2011-2013)</li>
                            <li>Associate professor and Head of Business Department, SSE Riga</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/dr-austeja-landsbergiene.jpg">
                <div class="speaker-info-panel">
                    <h3>Dr Austėja Landsbergienė</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Educational consultant to the Lithuanian State</li>
                            <li>Accreditation team member for the Council of International Schools</li>
                            <li>Founder and CEO of "Vaikystes Sodas", "Six senses", and "Queen Morta" school</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/dr-zane-olina.jpg">
                <div class="speaker-info-panel">
                    <h3>Dr Zane Olina</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Former CEO of Iespējamā misija (2007-2011)</li>
                            <li>Professor at Florida State University (2002-2007)</li>
                            <li>Director of Children's Environmental School (1993-1998)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/student.jpg">
                <div class="speaker-info-panel">
                    <h3>Student</h3>
                    <div class="speaker-bio">
                        <ul>
                            <li>Student selected from Workshops Day</li>
                            <li>This could be you!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedsection">Best Practices in Higher Education</div>
        <hr>
        <div class="speaker-container he-panel">
            {# <!-- <div class="speaker">
                <img src="static/images/ms-maive-rute.jpg">
                <div class="speaker-info-panel">
                    <h3>Ms Maive Rute</h3>
                    <div class="speaker-conf-panel">Keynote speech</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Director at Directorate-General for Science and Innovation at the European Commission</li>
                            <li>Fellow at the Weatherhead Center at Harvard University (2012-2013)</li>
                            <li>Director of SME Policy at European Commission (2005-2009)</li>
                        </ul>
                    </div>
                </div>
            </div> --> #}
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/prof-marcis-auzins.jpg">
                <div class="speaker-info-panel">
                    <h3>Prof Marcis Auzins</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Rector and Professor at the University of Latvia</li>
                            <li>Elected Member of the Latvian Academy of Sciences (1998)</li>
                            <li>Visiting Miller Professor at University of California, Berkeley (2005)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/prof-dennis-hayes.jpg">
                <div class="speaker-info-panel">
                    <h3>Prof Dennis Hayes</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Professor of Education at the University of Derby</li>
                            <li>First joint president of the University and College Union (2006-2007)</li>
                            <li>Hon. Secretary of the Standing Committee for the Education and Training of Teachers (SCETT)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/student.jpg">
                <div class="speaker-info-panel">
                    <h3>Student</h3>
                    <div class="speaker-bio">
                        <ul>
                            <li>Student selected from Workshops Day</li>
                            <li>This could be you!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedsection">Does Education Foster Entrepreneurship?</div>
        <hr>
        <div class="speaker-container be-panel">
            <div class="speaker">
                <img src="static/images/sir-paul-judge.jpg">
                <div class="speaker-info-panel">
                    <h3>Sir Paul Judge</h3>
                    <div class="speaker-conf-panel">Keynote speech</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Benefactor of the Judge Business School</li>
                            <li>President of the Association of MBAs</li>
                            <li>Alderman and former Sheriff of the City of London</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/mr-linnar-viik.jpg">
                <div class="speaker-info-panel">
                    <h3>Mr Linnar Viik</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Co-owner, Member of the Board, Strategy&amp;Investments at Mobi Solutions</li>
                            <li>Member of the Council at Research and Development Council of Estonia</li>
                            <li>Member of the Governing Board at European Institute of Innovation and Technology (2008-2014)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
             <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/student.jpg">
                <div class="speaker-info-panel">
                    <h3>Student</h3>
                    <div class="speaker-bio">
                        <ul>
                            <li>Student selected from Workshops Day</li>
                            <li>This could be you!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedsection">Future Trends and Innovations in the field of Education</div>
        <hr>
        <div class="speaker-container fe-panel">
            <div class="speaker">
                <img src="static/images/mr-conrad-wolfram.jpg">
                <div class="speaker-info-panel">
                    <h3>Mr Conrad Wolfram</h3>
                    <div class="speaker-conf-panel">Keynote speech</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Founder of computerbasedmath.org to fundamentally reform maths education</li>
                            <li>European co-founder/CEO of the Wolfram group of companies</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/mr-reinis-tukiss.jpg">
                <div class="speaker-info-panel">
                    <h3>Mr Reinis Tukiss</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Project Executive at LU Open Minded</li>
                            <li>Owner of Birojnica</li>
                            <li>Former Advisor to the Minister of Education and Science of the Republic of Latvia (2011-2013)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/mr-martin-saar.jpg">
                <div class="speaker-info-panel">
                    <h3>Mr Martin Saar</h3>
                    <div class="speaker-conf-panel">Panel discussion</div>
                    <div class="speaker-bio">
                        <ul>
                            <li>Deputy Head Teacher at Tallinn Secondary Science School</li>
                            <li>Teacher of Chemistry and Cultural History at Gustav Adolf Grammar School</li>
                            <li>Young and talented author and co-author of textbooks and the Estonian national chemistry syllabus</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/secret.jpg">
            </div>
            <div class="speaker">
                <img src="static/images/student.jpg">
                <div class="speaker-info-panel">
                    <h3>Student</h3>
                    <div class="speaker-bio">
                        <ul>
                            <li>Student selected from Workshops Day</li>
                            <li>This could be you!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="notice centered">More speakers to be announced very soon.<br> <a href="#contact">Follow</a> us on Facebook and Twitter to get live updates!</p>
{% endblock %}

{% block bodyscript %}
    {{ super() }}
    {% for panel_class in ['se-panel', 'he-panel', 'be-panel', 'fe-panel']%}
        $(function() {
            $(".speaker-container.{{ panel_class }}").hover(function(){
                $(".{{ panel_class }} .speaker-bio").slideToggle();
            }, function(){
                $(".{{ panel_class }} .speaker-bio").slideToggle();
            });
        });
    {% endfor %}
{% endblock %}
