{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}sponsors{% endblock %}
{% block subpage_title %}Sponsors{% endblock %}

{% block subpage_content %}
    <div class="centered">
        <a href="http://www.liaa.gov.lv/en"><img class="sponsorlogo widestlogo" src="static/images/logo-LIAA.jpg" alt="Investment and Development Agency of Latvia"></a>
        <a href="http://www.investinestonia.com/en/"><img class="sponsorlogo widerlogo" src="static/images/logo-EAS.jpg" alt="EAS (Enterprise Estonia)"></a>
        <a href="http://www.google.co.uk/"><img class="sponsorlogo widerlogo" src="static/images/logo-google.png" alt="Google"></a>
        <a href="http://www.mfa.gov.lv/en/london/"><img class="sponsorlogo widelogo" src="static/images/logo-latvian-emb.jpg" alt="Embassy of Latvia in London"></a>
    </div>
    <p class="sponsornotice centered">Contact us if interested in supporting our efforts and looking for a sponsorship deal!</p>
{% endblock %}
