{% extends "common/_year_base.tmpl.html" %}

{% block head %}
    {{ super() }}
    <script src="static/easySlider1.7.js"></script>
    <script>
        $(document).ready(function() {
            $("#slider").easySlider();
        });
    </script>
{% endblock %}

{% set nav = [
    ("#about", "About"),
    ("#cbc2013", "Photos"),
    ("#programme", "Programme"),
    ("#venues", "Venues"),
    ("#speakers", "Speakers"),
    ("#patrons", "Patrons"),
    ("#sponsors", "Sponsors"),
    ("#partners", "Partners &amp; Supporters"),
    ("#organisers", "Organisers"),
] %}

{% block header %}
    <div id="logodate">
        <span>10-11th October 2014</span>
    </div>
    <div id="title">Cambridge Baltic Conference</div>
    <div id="subtitle">New Challenges and New Insights for and from the Baltic States</div>
{% endblock %}

{% block body %}
    {% include "_About.html" %}
    {% include "_Cbc2013.html" %}
    {% include "_Programme.html" %}
    {% include "_Venues.html" %}
    {% include "_Speakers.html" %}
    {% include "_Patrons.html" %}
    {% include "_Sponsors.html" %}
    {% include "_Partners.html" %}
    {% include "_Organisers.html" %}
{% endblock %}
