{% extends "common/_year_base.tmpl.html" %}

{% block head %}
    {{ super() }}
    <script src="static/jquery.slides.min.js"></script>
{% endblock %}

{% set nav = [
    ("#about", "About"),
    ("#cbc2013", "Photos"),
    ("#programme", "Programme"),
    ("#speakers", "Speakers"),
    ("#sponsors", "Sponsors"),
    ("#partners", "Partners &amp; Supporters"),
    ("#venues", "Venues"),
    ("#organisers", "Organisers"),
    ("#contact", "Contact"),
] %}

{% block header %}
    <div id="logodate">
        <span>10-11th October 2014</span>
    </div>
    <div id="title">Cambridge Baltic Conference</div>
    <div id="subtitle">New Challenges and New Insights for and from the Baltic States</div>
{% endblock %}

{% block footer %}
        <ul id="contact">
            <li><a href="mailto:CambridgeBalticConference2014@gmail.com">
                <img src="static/icons/email.png"><span>CambridgeBalticConference2014@gmail.com</span>
            </a></li>
            <li><a href="https://www.facebook.com/CamBalticConf">
                <img src="static/icons/facebook.png"><span>fb.me/CamBalticConf</span>
            </a></li>
            <li><a href="https://twitter.com/CamBalticConf">
                <img src="static/icons/twitter.png"><span>@CamBalticConf</span>
            </a></li>
        </div>
{% endblock %}

{% block body %}
    {% include "_About.html" %}
    {% include "_Cbc2013.html" %}
    {% include "_Programme.html" %}
    {% include "_Speakers.html" %}
    {#    {% include "_Patrons.html" %}#}
    {% include "_Sponsors.html" %}
    {% include "_Partners.html" %}
    {% include "_Venues.html" %}
    {% include "_Organisers.html" %}
{% endblock %}
