{% extends "common/_year_base.tmpl.html" %}

{% block head %}
    {{ super() }}
    <script src="static/easySlider1.7.js"></script>
    <script>
        $(document).ready(function() {
            $("#photoslider").easySlider();
        });
    </script>
{% endblock %}

{% set nav = [
    ("#about", "About"),
    ("#cbc2013", "Photos"),
] %}

{% block header %}
    <div id="logodate">
        <span>10-11th October 2014</span>
    </div>
    <div id="title">Cambridge Baltic Conference</div>
    <div id="subtitle">New Challenges and New Insights for and from the Baltic States</div>
{% endblock %}

{% block body %}
    {% include "_About.html" %}
    {% include "_Cbc2013.html" %}
{% endblock %}
