{% extends "base/_subpage_no_header.tmpl.html" %}

{% block subpage_content %}

<div class="row">
  <div class="grid_12">
  <div class="mid-aligned large-text">
    <h1 class="blue">Cambridge Baltic Conference 2017<br />Security, Cyberwarfare &amp; Populism </h1>

<p>CBC 2017 aims to generate a nexus of ideas that will combine the knowledge, creativity and experience of students, the business community, politicians, security experts and academics from the United Kingdom, the Baltic states and beyond to tackle the new kinds of threats arising from increasingly sophisticated cyberwarfare, the new wave of populism, and the changing dynamics around NATO.</p>

<p>Cambridge University students from the Baltic states launched the first Cambridge Baltic Conference in 2013 to facilitate discussion on how the Baltic perspective could be valuable to the wider world. For this year’s anniversary, the CBC takes on the challenging and deeply interrelated topics of Security, Cyberwarfare and Populism in relation to current, global events.</p>
<!--  <div class="grid_4">
        <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#25475E" href="https://twitter.com/CamBalticConf">Tweets by CamBalticConf</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
-->
  </div>
  </div>
</div>
{% endblock %}
