{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}partners{% endblock %}
{% block subpage_title %}Partners &amp; Supporters{% endblock %}

{% block subpage_content %}
  <div id="partners-container" class="logo-container row">

  <div class="grid_4">
      <a href="https://www.youtube.com/channel/UCMfPBtm9CWGswAXohT5MFyQ"><img class="sponsorlogo widestlogo" src="static/images/sponsors/laisvestv.jpg" alt="Laisvės TV"></a>
  </div>

  <div class="grid_4">
      <a href="http://www.estonianworld.com/"><img src="static/images/sponsors/estonian-world.png" alt="Estonian World"></a>
  </div>

  <div class="grid_4">
      <a href="https://en.rebaltica.lv/"><img src="static/images/sponsors/rebaltica.jpg" alt="Re:Baltica"></a>
  </div>

  <div class="grid_4">
      <a href="http://london.mfa.ee/"><img src="static/images/sponsors/logo-estonian-emb.png" alt="Estonian Embassy in London"></a>
  </div>

  <div class="grid_4">
      <a href="http://www.irlv.lv/"><img src="static/images/sponsors/ir.png" alt="Ir"></a>
  </div>

  <div class="grid_4">
      <a href="https://arpasaulespieredzi.lv/"><img src="static/images/sponsors/pasaules-latvija.png" alt="AR PASAULES PIEREDZI LATVIJĀ"></a>
  </div>

  </div>
{% endblock %}
