{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}partners{% endblock %}
{% block subpage_title %}Partners &amp; Supporters{% endblock %}

{% block subpage_content %}
  <div id="partners-container" class="logo-container row">

  <div class="grid_6">
      <a href="https://www.youtube.com/channel/UCMfPBtm9CWGswAXohT5MFyQ"><img class="sponsorlogo widestlogo" src="static/images/sponsors/laisvestv.jpg" alt="Laisvės TV">
  </a>

  </div>
  <div class="grid_6">
      <a href="https://en.rebaltica.lv/"><img src="static/images/sponsors/rebaltica.jpg" alt="Re:Baltica">
  </a>

  </div>
  </div>
{% endblock %}
