{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}previous_years{% endblock %}
{% block subpage_title %}Previous Years{% endblock %}

{% block subpage_content %}


<!--<div class="row">
<div class="row">
    <div class="grid_3 past-year">
        <a id="year-2013" href="../2013/"><div class="text">CBC 2013<br><span class="subtitle">Baltic Countries and the EU</span></div></a>
    </div>
    <div class="grid_3 past-year">
        <a id="year-2014" href="../2014/"><div class="text">CBC 2014<br><span class="subtitle">Innovation in Education</span></div></a>
    </div>
    <div class="grid_3 past-year">
        <a id="year-2015" href="../2015/"><div class="text">CBC 2015<br><span class="subtitle">Entrepreneurship and the Economy</span></div></a>
    </div>
    <div class="grid_3 past-year">
        <a id="year-2016" href="../2016/"><div class="text">CBC 2016<br><span class="subtitle">Technology and Governance</span></div></a>
    </div>
</div>
</div>-->

<div id="past-conferences" class="clearfix">
    <div id="year-2016" class="past-year">
      <a class="link" href="../2016/">CBC 2016<br><span class="subtitle">Technology and Governance</span></a>
    </div>
    <div id="year-2015" class="past-year">
      <a class="link" href="../2015/">CBC 2015<br><span class="subtitle">Entrepreneurship and the Economy</span></a>
    </div>
    <div id="year-2014" class="past-year">
      <a class="link" href="../2014/">CBC 2014<br><span class="subtitle">Innovation in Education</span></a>
    </div>
    <div id="year-2013" class="past-year">
      <a class="link" href="../2013/">CBC 2013<br><span class="subtitle">Baltic Countries and the EU</span></a>
    </div>

  </div>
{% endblock %}
