{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
<!--  <div id="programme-picture"></div>-->

<!--    <div class="row">-->
<!--      <div class="grid_12">-->
<!--        <h2 class="blue">Saturday 12th November 2016</h2>-->
<!--        <p>The schedule and ticket information will be announced soon.</br></br></br></br></br></br></br></br></p>-->
<!--      </div>-->
<!--    </div>-->




<div class="textual-content">
<div class="row">
    <div id="schedule-container" class="grid_12">
  <div class="mid-aligned">
	  <div class="blue-background">
        <h2 class="schedule-day">Friday 27 October</h2>
	  </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>18:00 - 20:00</span>Concert</li>
            <li><span>20:00 - 22:00</span>Informal Networking</li>
          </ul>
        </div>
      </div>

	  <div class="blue-background">
        <h2 class="schedule-day">Saturday 28 October</h2>
	  </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>09:45 - 10:15</span>Registration</li>
            <li><span>10:15 - 10:30</span>Opening Keynote</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 1</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>10:30 - 11:50</span>Security</li>
          </ul>
        </div>
        <!--<div class="schedule-description grid_7">
          <p>
            The beginning of the 21st century marked the start of a true technological revolution and finance along with banking has changed from orthodoxy into Fintech. The focus of this panel will be placed on whether ordinary banks are required for Fintech ventures to succeed. What is the true role of Fintech and to what extent does it walk hand-in-hand with orthodox banking and finance. 
          </p>
        </div>-->
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>11:50 - 12:20</span>Coffee break and networking</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 2</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>12:20 - 13:40</span>Cyberware</li>
          </ul>
        </div>
        <!--<div class="schedule-description grid_7">
          <p>
            The Baltics have lost over a million talents over the last few decades but yet continue to thrive and lead the way in various technology fields. Now is the time to create, engage with the opportunities and witness the extraordinary Baltics transformation. The best talent attraction practices will be discussed in this panel, followed by the workshop on 'Baltics - Talent Magnet'.
          </p>
        </div>-->
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>13:40 - 14:40</span>Lunch</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Parallel Workshops</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li class="highlight"><span>14:40 - 15:50</span>Workshop X</li>
          </ul>
        </div>
	  </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li class="highlight"><span>14:40 - 15:50</span>Workshop Y</li>
          </ul>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>15:50 - 16:20</span>Coffee break and networking</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 3</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>16:20 - 17:40</span>Populism</li>
          </ul>
        </div>
        <!--<div class="schedule-description grid_7">
          <p>
            E-health is an innovative sector which aims to make healthcare accessible and efficient through using digital technologies.  This panel will explore the challenges as well as the opportunities for e-health and bring together the governmental and personal perspectives. 
          </p>
        </div>-->
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>17:40 - 18:00</span>Closing Keynote</li>
          </ul>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>19:00 - 22:00</span>Dinner</li>
          </ul>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>22:00 - LATE</span>Afterparty</li>
          </ul>
        </div>
      </div>

    </div>
    </div>
</div>
</div>
  
{% endblock %}
