{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}

<div class="textual-content">
<div class="row">
  <div id="schedule-container" class="grid_12">
    <div class="mid-aligned">
	  <div class="blue-background">
         <h2 class="schedule-day">Friday 27 October</h2>
	  </div>
      <ul class="schedule">
        <li><span>20:00 - 22:00</span>Informal Networking at <a href="https://www.google.co.uk/maps/place/All+Bar+One/@52.2031718,0.1214409,17z/data=!4m5!3m4!1s0x47d87097736ea659:0xb5db75b7a3c89566!8m2!3d52.2031718!4d0.1236349">All Bar One, 36 St. Andrews Street CB2 3AR</a></li>
      </ul>

	  <div class="blue-background">
        <h2 class="schedule-day">Saturday 28 October</h2>
	  </div>

      <ul class="schedule">
        <li><span>09:45 - 10:10</span>Registration</li>
        <li><span>10:10 - 10:30</span>Opening Keynote</li>
      </ul>

      <div class="schedule-divider">
        <h3 class="schedule-section">Day Event: Parallel Track 1</h3>
      </div>

      <ul class="schedule">
        <li class="highlight">
			<span>10:30 - 12:00</span>Discussion: Democracy and Soft Power in Eastern Europe
			<ul class="panelists">
				<li>Arnoldas Pranckevičius</li>
				<li>Vytis Jurkonis</li>
				<li>Egils Levits</li>
				<li>Jonas Survila</li>
				<li>Simona Guerra</li>
			</ul>
		</li>
        <li><span>12:00 - 12:30</span>Coffee break and networking</li>
        <li class="highlight"><span>12:30 - 14:00</span>Discussion: Defence Strategy of the Baltic States
			<ul class="panelists">
				<li>Janis Eichmanis</li>
				<li>Martin Arpo</li>
				<li>Tomas Jermalavičius</li>
				<li>Pete Duncan</li>
			</ul>
		</li>
        <li><span>14:00 - 15:30</span>Lunch break</li>
        <li class="highlight">
			<span>16:00 - 17:30</span>Discussion: Free Speech and Social Media
			<ul class="panelists">
				<li>Viktorija Mickutė</li>
				<li>Mykolas Markauskas</li>
				<li>Peter Woolsey</li>
				<li>Donara Bajoran</li>
			</ul>
		</li>
      </ul>

      <div class="schedule-divider">
        <h3 class="schedule-section">Day Event: Parallel Track 2</h3>
      </div>

      <ul class="schedule">
        <li><span>11:00 - 17:00</span>Drop-In Booth Session with Palantir</li>
        <li class="highlight">
			<span>12:30 - 14:00</span>Discussion: Cybersecurity
			<ul class="panelists">
				<li>Kieren Lovell</li>
				<li>Maarja Naagel</li>
				<li>Ēriks Dobelis</li>
			</ul>
		</li>
      </ul>

      <div class="schedule-divider">
        <h3 class="schedule-section">Closing</h3>
      </div>

      <ul class="schedule">
        <li><span>17:40 - 18:00</span>Closing Keynote</li>
        <li><span>18:00 - 18:45</span>Informal networking, travelling to the Dinner Venue</li>
      </ul>

      <div class="schedule-divider">
        <h3 class="schedule-section">Evening Event</h3>
      </div>

      <ul class="schedule">
        <li class="highlight"><span>19:00 - 22:00</span>Dinner</li>
        <li><span>22:00 - LATE</span>Afterparty</li>
      </ul>

    </div>
  </div>
</div>
</div>
  
{% endblock %}
