{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}registration{% endblock %}
{% block subpage_title %}Tickets &amp; Registration{% endblock %}

{% block subpage_content %}
    <div id="ticket-container" class="row">
    <div style="width:100%; text-align:left;"><iframe src="//eventbrite.co.uk/tickets-external?eid=38202065406&ref=etckt" frameborder="0" height="700" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.co.uk/">Powered by Eventbrite</a></div></div>
        <div class="grid_12">
        	<p class="small-notice"><sup>*</sup> — Note that early bird dinner tickets for students are limited</p>
        </div>
    </div>
{% endblock %}
