{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}

<div class="textual-content">
  <div class="speaker-panel row">
    <div class="grid_12">
    <div class="mid-aligned large-text">
      <img src="static/images/speakers/mykolas-markauskas.jpg" class="img--left" alt="Mykolas Markauskas" />
      <div class="speaker-info">
        <h2 class="blue">Mykolas Markauskas</h2>
      </div>
	<p>Mykolas Markauskas is the director of <a href="https://www.youtube.com/channel/UCMfPBtm9CWGswAXohT5MFyQ">Liberty TV</a> (Laisvės TV), a new type of fully crowd-funded television operating in Lithuanian and Russian languages, operating the most popular Lithuanian media YouTube channel.</p>
    </div>
	</div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12">
    <div class="mid-aligned large-text">
      <img src="static/images/speakers/martins-vaivars.png" class="img--left" alt="Martins Vaivars" />
      <div class="speaker-info">
        <h2 class="blue">Martins Vaivars</h2>
      </div>
	<p>Martins Vaivars is creating a blockchain-based fact-checking platform <a href="http://4facts.org">4Facts.org</a> that aims to fight fake news and has recently received &euro;50,000 from Google. He has graduated from Oxford University, having read Politics, Philosophy and Economics.</p>
    </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12">
    <div class="mid-aligned large-text">
      <img src="static/images/speakers/vytis-jurkonis.jpg" class="img--left" alt="Vytis Jurkonis" />
      <div class="speaker-info">
        <h2 class="blue">Vytis Jurkonis</h2>
      </div>
	<p>Vytis Jurkonis is a project director at <a href="https://freedomhouse.org/">Freedom House</a> and leads its Vilnius office. He lectures at the Institute of International Relations and Political Science of Vilnius University. He is an expert of Belarus related issues, Eastern Partnership region and Russia as well as Lithuanian foreign policy.</p>
    </div>
    </div>
  </div>
</div>

{% endblock %}
