{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}

<div class="textual-content">
  <div class="speaker-panel row">
    <div class="grid_12">
    <div class="mid-aligned large-text">
      <img src="static/images/speakers/mykolas-markauskas.jpg" class="img--left" alt="Mykolas Markauskas" />
      <div class="speaker-info">
        <h2 class="blue">Mykolas Markauskas</h2>
      </div>
	<p>Mykolas Markauskas is the director of <a href="https://www.youtube.com/channel/UCMfPBtm9CWGswAXohT5MFyQ">Liberty TV</a> (Laisvės TV), a new type of fully crowd-funded television operating in Lithuanian and Russian languages, operating the most popular Lithuanian media YouTube channel.</p>
    </div>
	</div>
  </div>
  <div class="speaker-panel row">
  <div class="grid_12">
  <div class="mid-aligned large-text">
    <img src="static/images/speakers/tomas-jermalavicius.jpg" class="img--left" alt="Tomas Jermalavicius" />
    <div class="speaker-info">
      <h2 class="blue">Tomas Jermalavičius</h2>
    </div>
    <p>Tomas Jermalavičius is the Head of Studies at <a href="https://www.icds.ee/">ICDS</a> — a security, defence and foreign policy think-tank based in Tallinn. In addition to his duties as the overall research coordinator of the ICDS, he leads research project teams and conducts policy analysis focused on various aspects of defence policy and strategy, regional defence cooperation, defence innovation and reforms as well as national resilience. He is also an Honorary Fellow at the <a href="https://www.baltdefcol.org/">Baltic Defence College</a>, and a member of <a href="http://www.iris-france.org/ares/">ARES Group</a>.</p>
    </div>
	</div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12">
    <div class="mid-aligned large-text">
      <img src="static/images/speakers/vytis-jurkonis.jpg" class="img--left" alt="Vytis Jurkonis" />
      <div class="speaker-info">
        <h2 class="blue">Vytis Jurkonis</h2>
      </div>
	<p>Vytis Jurkonis is a project director at <a href="https://freedomhouse.org/">Freedom House</a> and leads its Vilnius office. He lectures at the Institute of International Relations and Political Science of Vilnius University. He is an expert of Belarus related issues, Eastern Partnership region and Russia as well as Lithuanian foreign policy.</p>
    </div>
    </div>
  </div>
  <p class="notice centered">More speakers to be announced soon.</p>
</div>

{% endblock %}
