{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}sponsors{% endblock %}
{% block subpage_title %}Sponsors{% endblock %}


{% block subpage_content %}
<div id="sponsors-container" class="row logo-container">
    <div class="grid_4">
        <a href="http://bpti.eu/"><img src="static/images/sponsors/bpti.png" alt="Baltic Institute of Advanced Technology"></a>
    </div>
    <div class="grid_4">
        <a href="http://pervesk.lt/"><img src="static/images/sponsors/pervesk.png" alt="Pervesk.lt"></a>
    </div>
    <div class="grid_4">
        <a href="http://jkljs.org/"><img src="static/images/sponsors/jkljs.jpg" alt="JKLJS - Jungtinės Karalystės Lietuvių Jaunimo Sąjunga"></a>
    </div>
    <div class="grid_6">
        <a href="http://www.urm.lt/"><img src="static/images/sponsors/URM.png" alt="Lietuvos Respublikos užsienio reikalų ministerija"></a>
    </div>
    <div class="grid_6">
        <a href="https://www.urm.lt/default/lt/globali-lietuva"><img src="static/images/sponsors/globali-lietuva.jpg" alt="Globali Lietuva"></a>
    </div>
</div>
{% endblock %}
