{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}tickets{% endblock %}
{% block subpage_title %}Tickets{% endblock %}


{% block subpage_content %}

<div class="row">
    <div class="grid_12">
        <br>
        The dinner tickets are currently sold out, but a few more may become available. <br>
        If you would like to be notified when there is an option of upgrading your regular conference ticket to a dinner ticket, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScYMli6GNT8EqC-Xt2mNWEGpYq6ZJ2-cXB9DABCJIgxVayoDg/viewform">this form</a>.
    </div>
    <div class="grid_12" style="text-align:center;">
        <iframe src="//eventbrite.co.uk/tickets-external?eid=27891621591&ref=etckt" frameborder="0" height="833" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="true" style="margin-top:30px;max-width:700px;"></iframe>
    </div>
</div>
{% endblock %}
