{% extends "base/_year_base.tmpl.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% set nav = [
    ("#about", "About"),
    ("#registration", "Tickets"),
    ("#programme", "Programme"),
    ("#main_sponsor", "Sponsors"),
    ("#speakers", "Speakers"),
    ("#partners", "Partners"),
    ("#venues", "Venues"),
    ("#previous_years", "Previous Years"),
    ("#organisers", "Organisers"),
    ("#contact", "Contact"),
] %}

{#    ("#tickets", "Tickets"), #}
{#    ("#main_sponsor", "Sponsors &amp; Supporters"), #}
{% block bodyscript %}
    {{ super() }}
{% endblock %}

{% block header %}
    <div id="background">
	    <video playsinline autoplay muted loop id="bgvid">
            <source src="static/videos/bgvideo.mp4" type="video/mp4" />
        </video>
	</div>
    <div id="banner" class="row">
        <div class="grid_12" style="height: 12vh"></div>
        <div class="grid_12"><div id="toplogo"></div></div>
        <div class="grid_11 offset_1 left">
            <div id="title">Security,<br />Cyberwarfare &amp;<br />Populism</div>
            <div id="subtitle">Cambridge Baltic Conference '17</div>
            <div id="date">28 October 2017</div>
            <div id="live"><a href="https://www.youtube.com/watch?v=QW3wsp9cnRk">Watch <div class="live-button">Live</div> on YouTube</a></div>
        </div>
    </div>
    <div id="scroll-arrow"><img src="static/icons/scroll-arrow.png" /></div>
{% endblock %}

{% block footer %}
    <div id="contact" class="row">
        <ul>
        <li><a href="mailto:CambridgeBalticConference@gmail.com">
            <img src="static/icons/email.png"><span>CambridgeBalticConference@gmail.com</span>
        </a></li>
        <li><a href="https://www.facebook.com/CamBalticConf">
            <img src="static/icons/facebook.png"><span>fb.me/CamBalticConf</span>
        </a></li>
        <li><a href="https://twitter.com/CamBalticConf">
            <img src="static/icons/twitter.png"><span>@CamBalticConf</span>
        </a></li>
        </ul>
    </div>
    <div id="copyright" class="row">
        <p class="copytext">&copy; Cambridge Baltic Conference, 2017. Some materials use Cambridge University logo, Coat of Arms, or other branding, all rights reserved and belong to Cambridge University. Design materials and the website use icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
    </div>
{% endblock %}

{% block body %}
    {% include "_About.html" %}
    {% include "_Registration.html" %}
    {% include "_Programme.html" %}
    {% include "_Speakers.html" %}
    {# {% include "_Patrons.html" %} #}
    {% include "_MainSponsor.html" %}
    {% include "_Sponsors.html" %}
    {% include "_Partners.html" %}
    {% include "_Venues.html" %}
    {% include "_PreviousYears.html" %}
    {% include "_Organisers.html" %}
{% endblock %}
