{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}about{% endblock %}
{% block subpage_title %}About the conference{% endblock %}

{% block subpage_content %}
<div class="row">
  <div class="grid_8">
    <h2 class="blue">Entrepreneurship and the Economy</h2>
    <p>The third annual Cambridge Baltic Conference (CBC), co-organised by the university’s Latvian, Lithuanian and Estonian societies, allows inspiring and high profile speakers from the Baltic States and the UK to share their expertise on a variety of topics.</p>

    <p>This year’s topic is Entrepreneurship and the Economy. We will be bringing together the knowledge, creativity and experience of students, academics, politicians, as well as the business community, to examine important issues about the entrepreneurial environment of the Baltic countries.</p>

    <p>We are proud of the success of our previous CBC events: the first of which discussed the past, present and the future of the Baltic States, while last year’s conference elicited a lively debate about education.</p>

    <p>This year’s conference will begin with attending entrepreneurs presenting their startups to a panel of speakers with relevant experience, as well as the conference guests. After the presentations, there will be a networking session allowing all present to mingle with the entrepreneurs and speakers. Following an opening speech, the main panel will be discussing the topic ‘Defining the competitive advantages of the Baltic states' entrepreneurial environment’. Subpanels will then address technology transfer, policies affecting Baltic entrepreneurs, and the future of the financial sector. Lastly, dinner will grant one final opportunity for networking and dialogue before the end of the event.</p>

    <p>Come to this year’s Cambridge Baltic Conference and join us as we discuss the future of entrepreneurism and economic policy with our expert speakers, as we attempt to play a part in shaping the future of the Baltic States!</p>
  </div>

  <div class="grid_4">
    <h2 class="blue">Photos from CBC'14</h2>
    <div id="photos-block">
        <div class="clearfix"> 
            <div class="left"><img src="static/images/cover-2.jpg"></div>
            <div class="left"><img src="static/images/cover-3.jpg"></div>
        </div>
        <div id="view-more-pictures">
            <a href="https://www.dropbox.com/sc/40w2w1k21h324vl/AACWJYiNLqB8XoQj_vg5JeY5a" target="_blank">
              <h3 class="blue">View more via Dropbox →</h3></a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
