{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}about{% endblock %}
{% block subpage_title %}About the conference{% endblock %}

{% block subpage_content %}
<div class="row">
  <div class="grid_12">
    <h2 class="blue">Entrepreneurship and the Economy</h2>
    <p>The third annual Cambridge Baltic Conference (CBC), co-organised by the university’s Estonian, Latvian and Lithuanian societies, allows inspiring and high profile speakers from the Baltic States and the UK to share their expertise on a variety of topics.</p>

    <p>This year’s topic is Entrepreneurship and the Economy. We will be bringing together the knowledge, creativity and experience of students, academics, politicians, as well as the business community, to examine important issues about the entrepreneurial environment of the Baltic countries.</p>

    <p>We are proud of the success of our previous CBC events: the first of which discussed the past, present and the future of the Baltic States, while last year’s conference elicited a lively debate about education.</p>

    <p>This year’s conference will begin with attending entrepreneurs and experts presenting their start-ups and sharing their experience in a discussion session. After the presentations, there will be a networking session allowing all present to mingle with the entrepreneurs and speakers. Following an opening speech, the panels will be discussing the  competitive advantages of the Baltic States' entrepreneurial environment. Other panels will address technology transfer, policies affecting Baltic entrepreneurs, and the future of the financial sector. Lastly, dinner will grant one final opportunity for networking and dialogue before the end of the event.</p>

    <p>Come to this year’s Cambridge Baltic Conference and join us as we discuss the future of entrepreneurism and economic policy with our expert speakers, as we attempt to play a part in shaping the future of the Baltic States!</p>
  </div>
</div>
{% endblock %}
