{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}about{% endblock %}
{% block subpage_title %}About CBC 2014{% endblock %}

{% block subpage_content %}
    <div class="video">
        <iframe class="vimeo" src="//player.vimeo.com/video/103027783?color=4C74B7" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <h2 class="about_subtitle">Cambridge Baltic Conference 2014 - Innovation in Education</h2>
    <p>In 2013, the Cambridge Baltic Conference (CBC) project was initiated to gather leaders from various fields to discuss the Baltic countries in the context of the European Union, and brought together speakers, students and guests of incredibly high calibre. This October, CBC takes on Education.</p>
    <p>The CBC 2014 aims at generating a nexus of ideas that will combine the knowledge, creativity and experience of students, business community, politicians and academics to take lead in the discussions of the current state and the future of educational practices.</p>
    <p>The first day of the conference will feature academic, debating and public speaking workshops held for students, which will engage their individual responsibility together with collective creativity to develop projects and concrete action plans on education. The second day of the event gives students an opportunity to share ideas and discuss with distinguished guests, professionals, politicians, entrepreneurs and academics. All our exciting speakers are introduced on our website!</p>
    <p>Panel discussions and student projects will address issues such as "Best Practices in Higher Education", "Does Education Foster Entrepreneurship?", "Skills versus Knowledge in Secondary Education", and "Future Trends and Innovations in the Field of Education". We will be considering how education could better address businesses' needs, the value of the traditionally "Western" teaching methods as opposed to the "Eastern" ones, as well as the future trends in the field of education.</p>
    <p>Come along, rethink educational pathways and take part in shaping the future of the Baltic countries!</p>
{% endblock %}
