{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}partners{% endblock %}
{% block subpage_title %}Partners &amp; Supporters{% endblock %}

{% block subpage_content %}
    <!--<a href="http://www.bowtie-interior.com/"><img class="sponsorlogo" src="static/images/logo-Bow_tie.jpg" alt="Bow tie"></a>
    <a href="http://www.lithuanianleaders.com/"><img class="sponsorlogo" src="static/images/logo-GLL.png" alt="Global Lithuanian Leaders"></a>
    <a href="http://www.litcityclub.co.uk/"><img class="sponsorlogo widelogo" src="static/images/logo-LCLC.jpg" alt="Lithuanian City of London Club"></a>
    <br>
    <a href="http://estonianworld.com/"><img class="sponsorlogo widerlogo" src="static/images/logo-Estonian_World.png" alt="Estonian World"></a>
    <a href="http://www.lrt.lt/pradzia"><img class="sponsorlogo" src="static/images/logo-lrt.png" alt="LRT"></a>
    <a href="http://en.delfi.lt/"><img class="sponsorlogo" src="static/images/logo-Lithuania-Tribune.png" alt="The Lithuania Tribune"></a>
    <a href="https://www.transferwise.com/CamBalticConf"><img class="sponsorlogo widerlogo" src="static/images/logo-Transferwise.png" alt="Transferwise"></a>
    <br>
    <a href="http://www.becc.ee/"><img class="sponsorlogo widelogo" src="static/images/logo-BECC.png" alt="The British-Estonian Chamber of Commerce"></a>
    <a href="http://www.estonia.gov.uk/"><img class="sponsorlogo widestlogo" src="static/images/logo-estonian-emb.png" alt="Embassy of the Republic of Estonia in the United Kingdom"></a>
    <a href="http://uk.mfa.lt/uk/en/"><img class="sponsorlogo widelogo" src="static/images/logo-lithuanian-emb.jpg" alt="Embassy of the Republic of Lithuania in the United Kingdom"></a>
    <a href="http://www.baltictimes.com/"><img class="sponsorlogo widelogo" src="static/images/logo-thebaltictimes.gif" alt="The Baltic Times"></a>
    <a href="http://crossingthebaltic.com/"><img class="sponsorlogo widelogo" src="static/images/logo-crossingthebaltic.jpg" alt="Crossing the Baltic"></a>-->
  <div id="partners-container" class="logo-container row">
    <div class="grid_3">
      <a href="https://www.cus.org/"><img src="static/images/logo-cus.png" alt="The Cambridge Union Society"></a>
    </a></div>
    <div class="grid_3">
      <a href="http://www.estonia.gov.uk/"><img class="sponsorlogo widestlogo" src="static/images/logo-estonian-emb.png" alt="Embassy of the Republic of Estonia in the United Kingdom">
    </a></div>
    <div class="grid_3">
      <a href="http://www.investinestonia.com/en/"><img src="static/images/logo-EAS.jpg" alt="EAS (Enterprise Estonia)">
    </a></div>
  </div>
{% endblock %}
