{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}patrons{% endblock %}
{% block subpage_title %}Patrons{% endblock %}

{% block subpage_content %}
    <div id="patron-container" class="row">
        <div class="grid_4">
        <div class="speaker-card">
            <div id="david-hunt" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3 class="blue">David Hunt</h3>
                <div class="speaker-title">British Ambassador to Lithuania</div>
            </div>
        </div></div>

        <div class="grid_4">
        <div class="speaker-card">
            <div id="sarah-cowley" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3 class="blue">Sarah Cowley</h3>
                <div class="speaker-title">British Ambassador to Latvia</div>
            </div>
        </div></div>

        <div class="grid_4">
        <div class="speaker-card">
            <div id="chris-holtby-obe" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3 class="blue">Chris Holtby OBE</h3>
                <div class="speaker-title">British Ambassador to Estonia</div>
            </div>
        </div></div>
    </div>
{% endblock %}
