{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}photos{% endblock %}
{% block subpage_title %}Photos{% endblock %}

{% block subpage_content %}
    <div id="photos-block">
        <div id="past-photo-container" class="clearfix"> 
            <div class="left"><img src="static/images/cover-2.jpg"></div>
            <div class="left"><img src="static/images/cover-3.jpg"></div>
        </div>
        <div id="view-more-pictures">
            <a href="https://www.dropbox.com/sc/40w2w1k21h324vl/AACWJYiNLqB8XoQj_vg5JeY5a">View more via Dropbox →</a>
        </div>
    </div>
{% endblock %}
