{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
  <div id="programme-picture"></div>

  <div class="row">
    <div id="schedule-container" class="grid_12">
      <h2 class="schedule-day">Saturday 24th October - Conference Day</h2>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>09:00 - 10:00</span>Registration</li>
          </ul>
        </div>
      </div>
      <div class="schedule-divider">
        <h3 class="schedule-section">The Start-up Session</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>10:00 - 11:20</span>Presentations</li>
            <li><span>11:20 - 12:00</span>Networking session</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
          </p>
        </div>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>12:00 - 12:20</span>Opening speech</li>
          </ul>
        </div>
      </div>
      <div class="schedule-divider">
        <h3 class="schedule-section">Defining the competitive advantages of the Baltic states' entrepreneurial environment</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>12:20 - 12:40</span>Keynote speech</li>
            <li><span>12:40 - 14:00</span>Panel discussion</li>
            <li><span>14:00 - 15:00</span>Lunch</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            In the first, large-scale panel discussion we will examine the entrepreneurial environment of the Baltic States. The topics will include: What helped the appearance of many start-up companies in these countries: is it thanks to favourable legislation, the experience of early successful entrepreneurs like Skype, organisations like Garage48 and StartupWiseGuys, and/or other factors? What characterises the workforce involved: how are future entrepreneurs educated; and are there entrepreneurs moving from other countries to join Baltic businesses? Similarly, which countries invest in the Baltic States and what are the consequences? We will also consider the largest industries of the Baltic States – e.g. metallurgy, IT, pharma and transport, and discuss the goals and impact of large-scale projects such as Rail Baltica.
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Subpanel 1: Establishing the academia-industry relationships for effective technology transfer in the Baltics</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>15:00 - 16:30</span>Panel discussion</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            This subpanel will address the reasons why most start-ups in the Baltic States are based on IT and financial services rather than scientific research. Is it because the government does not believe in science based economic growth? Or because funding scientific projects is costly, and the Baltic economies are unable to afford this risk considering the competition with more science-oriented countries? Also, does Baltic education give science students entrepreneurial skills? We will then consider possible ways to enhance tech transfer by discussing successful science based spinoffs; suggesting potential improvements in education; and considering less financially demanding science start-ups, making a comparison between biotech, chemical/pharmacological industry, etc.
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Subpanel 2: Policies and politics supporting entrepreneurial activities and success in Baltic States</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>15:00 - 16:30</span>Panel discussion</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            This panel’s topics will include tax policies: we will assess if and how they foster, do not foster or harm the entrepreneurs’ initiatives in the Baltic States. Shifting the focus to other policies, we will ask what the governments currently do to help new businesses. What is the accessibility and impact of venture capitals, seed investments, loans and investments for equity? Furthermore, we will discuss how joining the euro zone has affected the entrepreneurial environment: what can we learn from Estonia’s example, which joined in 2011, and what trends can we observe in Latvia and Lithuania, which joined later? Finally, we will consider what business promoting fiscal policies could be introduced in the future.
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Subpanel 3: Future of the financial sector</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>15:00 - 16:30</span>Panel discussion</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            Contemplating the future of the Baltic States’ financial sector, we will assess the role of currently existing projects such as TransferWise, especially their impact on banking. What can banks do to overcome the losses produced by these projects? We will also consider virtual currencies (such as BitCoin), their impact on the financial sector including the risks they pose. Our discussion of the future of the Baltic States’ financial sector can benefit from discussing example financial developments from other parts of the world.
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Closing session</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>16:30 - 17:00</span>Returning and coffee break</li>
            <li><span>17:30 - 18:30</span>Summary of panel discussions</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Networking dinner</h3>
      </div>
      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>19:30 - 23:00</span>Dinner and networking reception<sup>*</sup></li>
            <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
  
{% endblock %}