{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}registration{% endblock %}
{% block subpage_title %}Tickets &amp; Registration{% endblock %}

{% block subpage_content %}
    <div class="ticket-container">
        <iframe src="//eventbrite.co.uk/tickets-external?eid=12980297419&ref=etckt" frameborder="0" height="450" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">
            <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://cambridgebalticconference2014.eventbrite.co.uk/?ref=etckt">Cambridge Baltic Conference 2014</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt">Eventbrite</a>
        </div>
    </div>
{% endblock %}
