{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
<div class="row">
    <div class="panel-1 speaker-panel row">
        <div class="grid_12"><h2>Panel #1</h2></div>

        <div class="grid_3">
        <div class="speaker-card left">
            <div id="placekitten" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3>Prof Ian White</h3>
                <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                <div class="speaker-role">Opening address on behalf of the University</div>
            </div>
        </div></div>

        <div class="grid_3">
        <div class="speaker-card grid_3">
            <div id="placekitten" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3>Prof Ian White</h3>
                <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                <div class="speaker-role">Opening address on behalf of the University</div>
            </div>
        </div></div>

        <div class="grid_3">
        <div class="speaker-card grid_3">
            <div id="placekitten" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3>Prof Ian White</h3>
                <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                <div class="speaker-role">Opening address on behalf of the University</div>
            </div>
        </div></div>

        <div class="grid_3">
        <div class="speaker-card grid_3">
            <div id="placekitten" class="speaker-photo"></div>
            <div class="speaker-info">
                <h3>Prof Ian White</h3>
                <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                <div class="speaker-role">Opening address on behalf of the University</div>
            </div>
        </div></div>
    </div>
    <div class="row">
        <div class="panel-2 speaker-panel grid_4 left">
            <h2>Panel #2</h2>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
        </div>

        <div class="panel-3 speaker-panel grid_4 left">
            <h2>Panel #3</h2>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
        </div>

        <div class="panel-4 speaker-panel grid_4 left">
            <h2>Panel #4</h2>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
            <div class="speaker-card">
                <div id="placekitten" class="speaker-photo"></div>
                <div class="speaker-info">
                    <h3>Prof Ian White</h3>
                    <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
                    <div class="speaker-role">Opening address on behalf of the University</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyscript %}
    {{ super() }}
{% endblock %}
