{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
<div class="row">
  <div id="panel-ee" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Defining the competitive advantages of the Baltic states' entrepreneurial environment</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>
  </div>

  <div id="panel-tt" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Establishing the academia-industry relationships for effective technology transfer in the Baltics</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>
  </div>

<div id="panel-pp" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Policies and politics supporting entrepreneurial activities and success in Baltic States</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>
  </div>

<div id="panel-ff" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Future of the financial sector</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>

    <div class="speaker-card grid_3">
      <div id="placekitten" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Prof Ian White</h3>
        <div class="speaker-title">Deputy Vice Chancellor of the University of Cambridge</div>
        <div class="speaker-role">Opening address on behalf of the University</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
