{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
<div class="row">
  <div id="panel-ee" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Defining the competitive advantages of the Baltic states' entrepreneurial environment</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="milda-darguzaite" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Milda Dargužaitė</h3>
        <div class="speaker-title">Head of Barclays Technology Centre Lithuania (BTCL)</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>

    <br/><p class="grid_12"><i>More speakers for this panel will be announced shortly.</i></p>
  </div>

  <div id="panel-tt" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Establishing the academia-industry relationships for effective technology transfer in the Baltics</h2></div>
    <p class="grid_12"><i>Speakers for this panel will be announced shortly.</i></p>
  </div>

  <div id="panel-pp" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Policies and politics supporting entrepreneurial activities and success in Baltic States</h2></div>
    
    <div class="speaker-card grid_3">
      <div id="andris-ozols" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Andris Ozols</h3>
        <div class="speaker-title">Director of the Investment and Development Agency of Latvia (LIAA)</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    
    <p class="grid_12"><i>More speakers for this panel will be announced shortly.</i></p>
  </div>

  <div id="panel-ff" class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Future of the financial sector</h2></div>
    <p class="grid_12"><i>Speakers for this panel will be announced shortly.</i></p>
  </div>
</div>
{% endblock %}
