{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}sponsors{% endblock %}
{% block subpage_title %}Sponsors{% endblock %}

{% block subpage_content %}
<div id="sponsors-container" class="logo-container row">
  <div class="grid_3">
      <a href="http://www.mfa.gov.lv/en/london/"><img src="static/images/logo-latvian-emb.jpg" alt="Embassy of Latvia in London">
  </a></div>

  <div class="grid_3">
      <a href="http://www.liaa.gov.lv/en"><img src="static/images/logo-LIAA.jpg" alt="Investment and Development Agency of Latvia">
  </a></div>

  <div class="grid_3">
      <a href="http://www.investinestonia.com/en/"><img src="static/images/logo-EAS.jpg" alt="EAS (Enterprise Estonia)">
  </a></div>
</div>
<p class="notice centered"><a href="#contact">Contact us</a> if interested in supporting our efforts and looking for a sponsorship deal!</p>
{% endblock %}
