html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

body {
    overflow-y: scroll;
}

#header {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    overflow: auto;
    background-image: url('images/background-mq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
}

#logodate {
    position: relative;
    margin: 2em 3.5vw 0 0;
    background-image: url('images/top-logo.png');
    background-position: top right;
    background-size: auto 7.8vw;
    background-repeat: no-repeat;
    height: 4em;
    font-size: 3vw;
    text-align: right;

}

#logodate span {
    position: absolute;
    bottom: 0;
    right: 0;
}

#title {
    text-align: center;
    font-size: 7vw;
}

#subtitle {
    text-align: center;
    font-size: 3vw;
}

#pagetop {
    position: relative;
}

#menu {
    background-color: #4C74B7;
    color: #ffffff;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: auto;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    padding: 1em 0.8em;
    text-decoration: none;
    background-color: #4C74B7;
    color: #ffffff;
}

#menu ul li a:hover {
    color: #4C74B7;
    background-color: #ffffff;
}

#menu ul li.register {
    float: right;
}

#menu ul li.register a {
    padding-left: 3em;
    font-weight: bold;
    background-image: url('images/register.png');
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center left;
}

#menu ul li.register a:hover {
    background-image: url('images/register-inv.png');
}

.subpage h1 {
    background-color: #4C74B7;
    color: #ffffff;
    margin: 0;
    clear: both;
    padding: 10px 10%;
}

.subpage h1 a,
.subpage h1 a:visited {
    color: #ffffff;
}

.subpage p {
    margin-left: 9.8%;
    margin-right: 9.8%;
    text-align: justify;
}

.subpage p+p {
    margin-top: 1.5em;
}

.subpage ul {
    margin-left: 9.8%;
    margin-right: 9.8%;
}

.subpage > p:first-of-type {
    margin-top: 2em;
}

.subpage > p:last-of-type {
    margin-bottom: 2em;
}

#fulllogo {
    margin: 1em auto;
    height: 30vh;
    background-image: url('images/full-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#kings {
    width: 100%;
    height: 70vh;
    background-image: url('images/kings-mq.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#union {
    width: 100%;
    height: 30vh;
    background-image: url('images/union-mq.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

#hall {
    width: 100%;
    height: 30vh;
    background-image: url('images/dinner-mq.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#venuecontainer {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.venue {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 50%;
}

.venue h3, .venue h2 {
    margin: 0.3em 0;
    padding: 0;
}

.googlemap {
    width: 90%;
    height: 50vh;
    margin-bottom: 2em;
}

#footer {
    width: 100%;
    height: 40vh;
    background-color: #4C74B7;
    color: #ffffff;
}

#footer h1 {
    margin: 0;
    padding: 2em;
    font-size: 1.5em;
}

#footer a,
#footer a:visited {
    color: #ffffff;
}

ul.schedule {
    list-style-type: none;
}

.schedule small {
    font-style: italic;
}

.schedule sup {
    z-index: -1;
}

.schedule li {
    padding-bottom: 0.7em;
}

.schedule li span:first-of-type {
    color: #4C74B7;
    font-weight: bold;
    font-size: 125%;
    margin-right: 1em;
}

.schedule .talktitle {
    font-weight: bold;
    font-style: italic;
}

.schedday {
    display: block;

    font-size: 2em;
    margin: 1em 0 0.5em 0;
}

.schedsection {
    display: block;
    width: 100%;

    font-size: 0.9em;
    margin: 2em 0 0 0;
    padding: 0;
}

.schedule hr {
    margin: 0 0 0.5em 0;
}

.speakercontainer {
    display: table;
    text-align: center;
    border-spacing: 2em;
}

.speakerrow {
    display: table-row;
}

.speaker {
    width: 30%;
    display: table-cell;
}

.speaker img {
    width: 100%;
    height: auto;
}

.speaker h3 {
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #4C74B7;
}

.speaker h4 {
    margin: 0;
    padding: 0;
}

.speaker ul {
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
    text-align: left;
}

.speaker ul li {
    text-indent: -0.7em;
}

.speaker ul li:before {
    content: "• ";
    color: #4C74B7;
}

.soclogo {
    width: 15%;
    height: auto;
    margin: 1em 2em;
    vertical-align: middle;
}

.latvians {
    width: 10%;
    height: auto;
}

.sponsorlogo {
    width: 10%;
    height: auto;
    margin: 2%;
    vertical-align: middle;
}

.narrowerlogo {
    width: 7%;
}

.widelogo {
    width: 15%;
}

.widerlogo {
    width: 20%;
}

.widestlogo {
    width: 25%;
    margin: 2% 1%;
}

.workshoplist {
    text-align: justify;
}

.workshoplist span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.workshoplist li+li {
    padding-top: 1em;
}

#registration {
    position: fixed;
    display: none;
    top: 2em;
    left: 10%;
    width: 80%;
    padding: 1em;
    z-index: 101;
    min-height: 300px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: #ffffff;
    text-align: center;
}

#registration a.reglink {
    display: block;
    margin-bottom: 1em;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.9);
}

a,
a:visited {
    color: #4C74B7;
}

.soclist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.soclist li {
    margin: 0;
    padding: 0;
}

.subpage h2 {
    margin: 0;
    padding: 0 15%;
}

#committeelist {
    margin: 1em 15%;
    padding: 0;
    list-style-type: none;
}

#committeelist li {
    padding-top: 0.75em;
}

h3.regnotice {
    margin: 1em 0;
    padding: 0 9.8%;
}

.margins {
    margin: 0 9.8%;
}

p.notice {
    font-weight: bold;
    font-size: 1.5em;
}

p.about_subtitle {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.blue {
    color: #4C74B7;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

#slidercontainer {
    margin: 2em 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#slider {
    margin: 0 25%;
}

#slider ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#slider li {
    margin: 0;
    padding: 0;
    width: 50vw;
}

#slider img {
    margin: 0;
    padding: 0;
    height: auto;
    width: 50vw;
}

#slidercontrols {
    margin: 0 25%;
}

#slidercontrols a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
}

#slidercontrols a:hover {
    color: #4C74B7;
}

#prevBtn {
    float: left;
}

#nextBtn {
    float: right;
}
