{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}about{% endblock %}
{% block subpage_title %}About the conference{% endblock %}

{% block subpage_content %}
<div class="row">
  <div class="grid_12">
    <h2 class="blue">Technology and Governance</h2>
    <p>In 2013, the Cambridge Baltic Conference (CBC) project was initiated to gather leaders from various fields to discuss the Baltic countries in the context of the European Union, and brought together speakers, students and guests of incredibly high calibre. This November, CBC takes on Technology and Governance. </p>

    <p>The CBC 2016 aims at generating a nexus of ideas that will combine the knowledge, creativity and experience of students, business community, politicians and academics to take lead in the discussions of the current state and the future of technology and governance. </p>

    <p>The conference gives students an opportunity to share ideas and discuss with distinguished guests, professionals, politicians, entrepreneurs and academics. The broad heading of Technology and Governance gives the conference an opportunity to discuss various matters: e-health, fintech, e-governance, talent attraction and modern diasporas, big data and governance, and much more.</p>

    <p>The conference will also be a part of the British Estonian Chamber of Commerce’s (BECC) trade mission to the UK. The BECC’s delegation which includes a number of business leaders from Estonia will be taking part in the conference. </p>





  </div>
</div>
{% endblock %}
