{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}feedback{% endblock %}
{% block subpage_title %}Summary{% endblock %}

{% block subpage_content %}
    <div class="row">
        <p>
            We'd like to say a big thank you to all of our speakers, sponsors, partners and, most importantly, you, dear attendees, for making this event successful, full of novel ideas and purposeful discussions, engaging, motivating and inspiring. Please fill in this short questionnaire to help us improve future conferences.
        </p>
        <div class="grid_8">
            <iframe src="https://docs.google.com/forms/d/1BWKrqR8ut0eCIidq7kz0FNmPaY2-dYkPcQI_pqsdKr0/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
        <div class="grid_4">
            <div class="grid_4">
            <h2 class="blue">A few moments from CBC'15</h2>
            <div id="photos-block">
                <div class="clearfix"> 
                    <div class="left"><img src="static/images/cover-0.jpg"></div>
                    <div class="left"><img src="static/images/cover-1.jpg"></div>
                </div>
                <div id="view-more-pictures">
                    <a href="https://www.dropbox.com/sh/zisn8h2pujlrc5p/AABSJAVZcWuAxrN7aN5poJ7Ha?dl=0" target="_blank">
                      <h3 class="blue">View more via Dropbox →</h3></a>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
