{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}partners{% endblock %}
{% block subpage_title %}Partners &amp; Supporters{% endblock %}

{% block subpage_content %}
  <div id="partners-container" class="logo-container row">
<!--    <div class="grid_3">-->
<!--      <a href="https://www.cus.org/"><img src="static/images/logo-cus.png" alt="The Cambridge Union Society"></a>-->
<!--    </a></div>-->

    <div class="grid_3">
      <a href="http://www.becc.ee/"><img class="sponsorlogo widestlogo" src="static/images/sponsors/becc.jpg" alt="British Estonian Chamber of Commerce">
    </a></div>

    <div class="grid_3">
      <a href="http://www.london.vm.ee/consular_section"><img class="sponsorlogo widestlogo" src="static/images/sponsors/logo-estonian-emb.jpg" alt="Embassy of the Republic of Estonia in the United Kingdom">
    </a></div>

  <div class="grid_3">
      <a href="https://www.inbank.ee/"><img class="sponsorlogo widestlogo" src="static/images/sponsors/inbank.png" alt="Inbank">
  </a></div>

  <div class="grid_3">
      <a href="http://www.tavex.eu/"><img src="static/images/sponsors/tavex.jpg" alt="Tavex">
  </a></div>

  <div class="grid_3">
      <a href="https://www.gov.uk/government/world/estonia"><img src="static/images/sponsors/british-embassy-tallinn.jpg" alt="British Embassy Tallinn">
  </a></div>

  <div class="grid_3">
      <a href="http://ukesttechlink.com/"><img src="static/images/sponsors/techlink.jpg" alt="TechLink">
  </a></div>

  <div class="grid_3">
      <a href="https://uk.mfa.lt/uk/en/"><img src="static/images/sponsors/lithuanian-embassy-in-uk.jpg" alt="Embassy of the Republic of Lithuania in the United Kingdom">
  </a></div>

  <div class="grid_3">
      <a href="http://www.investlithuania.com/"><img src="static/images/sponsors/invest-lithuania.jpg" alt="Invest Lithuania">
  </a></div>

  <div class="grid_3">
      <a href="http://www.lithuanianleaders.org/"><img src="static/images/sponsors/gll.png" alt="Global Lithuanian Leaders">
  </a></div>

  <div class="grid_3">
      <a href="http://www.mfa.gov.lv/en/london"><img src="static/images/sponsors/logo-latvian-emb.jpg" alt="Embassy of the Republic of Latvia">
  </a></div>

  <div class="grid_3">
      <a href="https://www.monese.com/"><img src="static/images/sponsors/monese.png" alt="Monese">
  </a></div>

  </div>
{% endblock %}
