{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
  <div id="programme-picture"></div>

<!--    <div class="row">-->
<!--      <div class="grid_12">-->
<!--        <h2 class="blue">Saturday 12th November 2016</h2>-->
<!--        <p>The schedule and ticket information will be announced soon.</br></br></br></br></br></br></br></br></p>-->
<!--      </div>-->
<!--    </div>-->




<div class="row">
    <div id="schedule-container" class="grid_12">
      <h2 class="schedule-day">Saturday 12 November</h2>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>09:45 - 10:15</span>Registration</li>
            <li><span>10:15 - 10:30</span>Opening keynote</li>
          </ul>
        </div>
      </div>


      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 1</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>10:30 - 11:50</span>Fintech</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            The beginning of the 21st century marked the start of a true technological revolution and finance along with banking has changed from orthodoxy into Fintech. The focus of this panel will be placed on whether ordinary banks are required for Fintech ventures to succeed. What is the true role of Fintech and to what extent does it walk hand-in-hand with orthodox banking and finance. 
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>11:50 - 12:10</span>Coffee break and networking</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Parallel Panels</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>12:10 - 13:10</span>Talent attraction and modern diasporas</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            The Baltics have lost over a million talents over the last few decades but yet continue to thrive and lead the way in various technology fields. Now is the time to create, engage with the opportunities and witness the extraordinary Baltics transformation. The best talent attraction practices will be discussed in this panel, followed by the workshop on 'Baltics - Talent Magnet'.
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>12:10 - 13:10</span>Big Data and governance</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            Extracting knowledge and insights from large and complex collections of data available to governments could be extremely beneficial. How to improve health care, employment, economic productivity, security and governmental processes using data mining? What are the big data future perspectives in private and public sectors?
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>13:10 - 14:10</span>Lunch</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            Sandwiches will be provided for lunch.
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Parallel Workshops</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>14:30 - 15:30</span>Baltics - Talent Magnet!</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            In the last decades Baltic countries have faced brain drain rather than attracting talents. People are leaving not only to seek higher standards of living but also eager to gain international education and experience. This modern diaspora has a lot of well established professionals who could be the best ambassadors for their countries. How can the Baltics engage and connect with them? On the other hand, what should we do to become the Talent magnet for our own nationals as well as foreign talents? This workshop will come up with bright recommendations on the strategy and innovative solutions for this to become the reality.
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>14:30 - 15:30</span>Legal implications for the fintech industry</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            The financial sector has been traditionally heavily regulated by the EU and the regulatory burden has been especially heavy during the post-crisis era. The growing importance of crowdfunding, payment services and fintech is dramatically changing our understanding of the financial sector. The regulators in Brussels are experiencing difficulties with keeping up with the rapidly changing environment. The underlying question is whether we actually want Brussels to keep up the pace and provide us with new rules for new technologies?
          </p>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 2</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>15:30 - 16:30</span>E-health</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            E-health is an innovative sector which aims to make healthcare accessible and efficient through using digital technologies.  This panel will explore the challenges as well as the opportunities for e-health and bring together the governmental and personal perspectives. 
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>16:30 - 17:00</span>Coffee break and networking</li>
          </ul>
        </div>
      </div>

      <div class="schedule-divider">
        <h3 class="schedule-section">Main Panel 3</h3>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li class="highlight"><span>17:00 - 18:00</span>E-governance</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            E-governance takes many shapes and forms, but the underlying idea behind is increasing the operational governance efficiency and making the interaction between the government and its citizens more transparent and accessible. This panel focuses on the current stage of e-governance and will outline its future perspectives.
          </p>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_12">
          <ul class="schedule">
            <li><span>18:00 - 18:20</span>Closing keynote</li>
          </ul>
        </div>
      </div>

      <div class="schedule-row row">
        <div class="grid_5">
          <ul class="schedule">
            <li><span>19:15 - 22:00</span>Dinner</li>
          </ul>
        </div>
        <div class="schedule-description grid_7">
          <p>
            Join us for a formal dinner at Christ's College Hall, one of the finest amongst the Cambridge Colleges, on the 12th of November at 19:15. Dress code will be formal/ black tie optional. Guests shall inform us about the dietary requirements a couple of weeks before the event. There will be wine and non-alcoholic drinks served. We look forward to meeting you at Christ's College!
          </p>
        </div>
      </div>

    </div>
</div>
  
{% endblock %}
