{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}registration{% endblock %}
{% block subpage_title %}Tickets &amp; Registration{% endblock %}

{% block subpage_content %}
    <div id="ticket-container" class="row">
        <div style="width:100%; text-align:left;" class="grid_12">
        	<iframe src="//eventbrite.co.uk/tickets-external?eid=18593625033&ref=etckt" frameborder="0" height="470" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        	<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
        		<a class="blue" style="text-decoration: none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Powered by Eventbrite</a>
        	</div>
        </div>
        <div class="grid_12">
        	<p class="small-notice"><sup>*</sup> — Note that early bird dinner tickets for students are limited</p>
        </div>
    </div>
{% endblock %}
