{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}

<div class="row">
  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Keynote Speakers</h2></div>
    <div class="speaker-card grid_3">
      <div id="theresa-bubbear" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Theresa Bubbear</h3>
        <div class="speaker-title">British Ambassador to Estonia</div>
        <div class="speaker-role">Opening keynote speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="adam-beaumont" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Dr Adam Beaumont</h3>
        <div class="speaker-title">CEO and founder of aql</div>
        <div class="speaker-role">Closing keynote speaker</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">E-health</h2></div>
    <div class="speaker-card grid_3">
      <div id="chris-leiter" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Chris Leiter</h3>
        <div class="speaker-title">Global Executive for Healthcare at KPMG</div>
        <div class="speaker-role">Moderator</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="tanel-ross" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Tanel Ross</h3>
        <div class="speaker-title">Chairman of the Board of the Estonian National Health Insurance Fund</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="andres-metspalu" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Andres Metspalu</h3>
        <div class="speaker-title">Director of the Estonian Genome Centre</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="ain-aaviksoo" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Ain Aaviksoo</h3>
        <div class="speaker-title">Deputy Secretary General for E-services and Innovation at Ministry of Social Affairs</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="paula-kink" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Paula Kink</h3>
        <div class="speaker-title">CEO of hINF</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="keith-willcock" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Keith Willcock</h3>
        <div class="speaker-title">eHealth Strategy & Policy Lead for the Scottish Government</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Fintech</h2></div>
    <div class="speaker-card grid_3">
      <div id="meelis-atonen" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Meelis Atonen</h3>
        <div class="speaker-title">Member of the Board at Tavex</div>
        <div class="speaker-role">Opening speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="james-oates" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>James Oates</h3>
        <div class="speaker-title">BECC Chairman of the Board</div>
        <div class="speaker-role">Moderator</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="priit-poldoja" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Priit Põldoja</h3>
        <div class="speaker-title">Founder of Inbank</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="norris-koppel" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Norris Koppel</h3>
        <div class="speaker-title">Founder & CEO of Monese</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="andres-kitter" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Andres Kitter</h3>
        <div class="speaker-title">Head of Retail Banking at LHV</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="daumantas-dvilinskas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Daumantas Dvilinskas</h3>
        <div class="speaker-title">CEO & Co-Founder at TransferGo</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="daniel-mariussen" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Daniel Nyvang Mariussen</h3>
        <div class="speaker-title">UK Regional Manager at Funderbeam</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="marius-jurgilas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Marius Jurgilas</h3>
        <div class="speaker-title">The Board Member of the Bank of Lithuania</div>
        <div class="speaker-role">Closing speaker</div>
      </div>
    </div>
  </div>


  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">E-governance</h2></div>
    <div class="speaker-card grid_3">
      <div id="kaspar-korjus" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Kaspar Korjus</h3>
        <div class="speaker-title">Head of the Estonian E-Residency project</div>
        <div class="speaker-role">Opening speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="tobias-stone" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Tobias Stone</h3>
        <div class="speaker-title">Special Advisor to e-Residency Program of the Estonian Government; founder of Identit.ee and Newsquare.io</div>
        <div class="speaker-role">Moderator</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="ignas-rubikas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Ignas Rubikas</h3>
        <div class="speaker-title">Founder of ManoSeimas.lt</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="peteris-zilgalvis" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Pēteris Zilgalvis</h3>
        <div class="speaker-title">Head of Unit, Startups and Innovation, Digital Single Market Directorate, DG CONNECT at European Commission</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="mindaugas-glodas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Mindaugas Glodas</h3>
        <div class="speaker-title">Partner and General Manager at Nextury Ventures</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>


  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Talent Attraction and Modern Diasporas</h2></div>
    <div class="speaker-card grid_3">
      <div id="andrius-francas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Andrius Francas</h3>
        <div class="speaker-title">Partner at Alliance for Recruitment</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="kotryna-stankute" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Kotryna Stankute</h3>
        <div class="speaker-title">Director at Global Lithuanian Leaders</div>
        <div class="speaker-role">Moderator</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="mantas-katinas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Mantas Katinas</h3>
        <div class="speaker-title">General Manager at Invest Lithuania</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="piret-potisepp" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Piret Potisepp</h3>
        <div class="speaker-title">Initiator of "Work in Estonia – attracting foreigner specialists to Estonian action plan for 2015-2016"</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="vita-liberte" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Vita Liberte</h3>
        <div class="speaker-title">Managing Partner at BDO Latvia</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Big Data and Governance</h2></div>
<!--    <div class="speaker-card grid_3">-->
<!--      <div id="tom-grant" class="speaker-photo"></div>-->
<!--      <div class="speaker-info">-->
<!--        <h3>Dr Tom Grant</h3>-->
<!--        <div class="speaker-title">Senior Research Fellow, Wolfson College; Research Fellow, Lauterpacht Centre for International Law</div>-->
<!--        <div class="speaker-role">Opening speaker</div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="speaker-card grid_3">
      <div id="ekaterina-kochmar" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Ekaterina Kochmar</h3>
        <div class="speaker-title">Research Associate at the Computer Laboratory of the University of Cambridge</div>
        <div class="speaker-role">Moderator</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="ray-larson" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Ray Larson</h3>
        <div class="speaker-title">Senior Business Analyst at Whitehat Analytics</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
    <div class="speaker-card grid_3">
      <div id="andrius-aucinas" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Andrius Aučinas</h3>
        <div class="speaker-title">Head of Engineering at the Hub of All Things</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>
  <div class="speaker-panel row">
    <div class="grid_12"></div>
    <div class="speaker-card grid_3">
      <div id="ernests-jenavs" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Ernests Jenavs</h3>
        <div class="speaker-title">Founder at Edurio</div>
        <div class="speaker-role">Panel speaker</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Workshop: Legal implications for the fintech industry</h2></div>
    <div class="speaker-card grid_3">
      <div id="marko-kairjak" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Marko Kairjak PhD (Tartu), LLM (Cantab.)</h3>
        <div class="speaker-title">Partner and Attorney-at-Law at VARUL (Member of Tark Grunte Sutkiene group)</div>
        <div class="speaker-role">Workshop presenter</div>
      </div>
    </div>
  </div>

  <div class="speaker-panel row">
    <div class="grid_12"><h2 class="blue">Workshop: Baltics - Talent Magnet!</h2></div>
    <div class="speaker-card grid_3">
      <div id="kotryna-stankute" class="speaker-photo"></div>
      <div class="speaker-info">
        <h3>Kotryna Stankute</h3>
        <div class="speaker-title">Director at Global Lithuanian Leaders</div>
        <div class="speaker-role">Workshop presenter</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
