{% extends "base/_subpage.tmpl.html" %}

{% block subpage_id %}sponsors{% endblock %}
{% block subpage_title %}Sponsors{% endblock %}


{% block subpage_content %}
<div id="sponsors-container" class="logo-container row">

  <div class="grid_3">
      <a href="http://www.afr.lt/en"><img src="static/images/sponsors/alliance-for-recruitment.jpg" alt="Alliance for Recruitment">
  </a></div>

  <div class="grid_3">
      <a href="https://www.lhv.ee/"><img src="static/images/sponsors/lhv.jpg" alt="LHV">
  </a></div>

  <div class="grid_3">
      <a href="http://bpti.eu/"><img src="static/images/sponsors/bpti.png" alt="Baltic Institute of Advanced Technology">
  </a></div>

  <div class="grid_3">
      <a href="http://www.mfa.gov.lv/en/london"><img src="static/images/sponsors/logo-latvian-emb.jpg" alt="Embassy of the Republic of Latvia">
  </a></div>

  <div class="grid_3">
      <a href="https://spectrocoin.com/"><img src="static/images/sponsors/spectro-coin.png" alt="SpectroCoin">
  </a></div>

</div>
<p class="notice centered"><a href="#contact">Contact us</a> if interested in supporting our efforts and looking for a sponsorship deal!</p>
{% endblock %}
