/* General rules */
html {
  font-family: "Hind", "Helvetica Neue", "Source Sans Pro", Helvetica, Arial, sans-serif; 
  line-height: 140%;
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
}

#sb-site {
  overflow-y: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

a,
a:visited {
  color: #443F79;
}

p.notice {
  font-weight: bold;
  font-size: 1.5em;
  color: #443F79;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 1em 0;
}

p.small-notice {
  font-size: 1em;
  color: #443F79;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0.3em 0;
}

.blue {
  color: #443F79;
}

.bold {
  font-weight: bold;
}

.centered,
.subpage p.centered {
  text-align: center;
}


/* Header rules */
#header {
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  width: 100%;
  height: 100vh;
  color: #DFFF00;
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
  background: url('../images/background.jpg');
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#scroll-arrow {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.5em;
}

#scroll-arrow img {
  width: 130px;
}

#toplogo {
  position: relative;
  background-image: url('../images/top-logo.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}

#banner {
  max-width: 100%;
}

#title {    
  font-size: 64pt;
  line-height: 95%;
}

#subtitle {
  padding-top: 0.5em;
  font-size: 28pt;
  line-height: 1;
}

#date {
  padding-top: 0.8em;
  font-size: 20pt;
}

/* Menu rules */
#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: auto;
  width: 100%;
  z-index: 1000;
}

#menu-content {
  height: 50px;
  background-color: #443F79;
  color: #DFFF00;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

#menu ul li {
  float: left;
  height: 50px;
  overflow: hidden;
}

#menu ul li a {
  display: block;
  padding: 0.9em 0.8em;
  text-decoration: none;
  color: #FFFFFF;
  /*height: 100%;*/
}

#menu ul li a:hover {
  color: #443F79;
  background-color: #FFFFFF;
}

.navicon-line {
  width: 24px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #fff;
}

.hamburger-wrapper {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 2;
}

.navicon {
  position: absolute;
  left: 13px;
  top: 17px;
}

.navbar-right {
  background-color: #443F79 !important;
}

.navbar-right nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.navbar-right ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: #ffffff;
}

.navbar-right ul li a:hover {
  color: #443F79;
  background-color: #ffffff;
}

/* Subpage general rules */
.subpage-header {
  background-color: #443F79;
  color: #ffffff;
}

.subpage h1 {
  clear: both;
  padding: 20px 20px;
  margin: 0;
  line-height: 1;
}

.subpage h1 a,
.subpage h1 a:visited {
  color: #ffffff;
}

.subpage p {
  text-align: justify;
}

.subpage p+p {
  margin-top: 1.5em;
}

.subpage > p:first-of-type {
  margin-top: 2em;
}

.subpage > p:last-of-type {
  margin-bottom: 2em;
}

/* About section */
#photos-block img {
  width: 100%;
}

#view-more-pictures h3 {
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

#view-more-pictures a {
  text-decoration: none;
}

/* Tickets & registration section */
#ticket-container {
  margin: 20px auto;
}

/* Venue section */
#programme-picture {
  width: 100%;
  height: 70vh;
  background-image: url('../images/programme-picture.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#union-picture {
  width: 100%;
  height: 30vh;
  background-image: url('../images/union-mq.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

#hall-picture {
  width: 100%;
  height: 30vh;
  background-image: url('../images/dinner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#venue-container {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
  background-color: #443F79;
  color: #FFFFFF;
}

.venue {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.venue-info-card {
  margin: 20px;
}

.venue-info {
  float: left;
}

.venue-icon-castle {
  width: 50px;
  height: 50px;
  margin: 9px 18px;
  background-image: url('../icons/castle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.venue-name {
  margin: 0 0 0.15em 0;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.6em;
}

.venue-address {
  font-style: italic;
}

.content-padding {
  padding: 0 20px;
}

.googlemap {
  width: 100%;
  height: 350px;
}

.maps-container {
  position: relative;
}

.maps-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Footer */
#footer {
  width: 100%;
  background-color: #443F79;
  color: #ffffff;
}

#footer #contact ul {
  list-style-type: none;
  margin: 50px 0 20px 15px;
  font-size: 1.0em;
}

#footer #contact ul li {
  margin: 0.3em;
}

#footer #contact ul li img {
  margin: -0.1em 1em;
}

#footer a,
#footer a:visited {
  color: #FFFFFF;
}

#copyright {
  color: #5D588D;
}

#copyright .copytext {
  font-size: small;
}

#copyright a,
#copyright a:visited {
  color: #5D588D;
}

/* Schedule section */
.schedule-divider {
  border-bottom: 1px solid #443F79;
}

.schedule-row {
  margin-top: 13px !important;
}

.schedule-row:last-child {
  margin-bottom: 20px !important;
}

.schedule-description p {
  margin: 0;
  padding: 0;
}

ul.schedule {
  list-style-type: none;
  display: table-cell;
  padding: 0;
}

.schedule small {
  font-style: italic;
}

.schedule sup {
  z-index: -1;
}

.schedule li {
  padding-bottom: 0.7em;
}

.schedule li:last-child {
  padding-bottom: 0;
}

.schedule li span:first-of-type {
  color: #443F79;
  font-weight: bold;
  font-size: 125%;
  float: left;
  width: 130px;
}

.schedule .talktitle {
  font-weight: bold;
  font-style: italic;
}

.schedule-day {
  color: #443F79;
  margin: 1em 0 0.5em 0;
}

.schedule-section {
  color: #443F79;
  font-size: 1em;
  margin: 1em 0 0 0;
}

.schedule-divider {
  margin-top: 1em;
}

.schedule-divider hr {
  margin: 0 0 0.5em 0;
}

/* Speakers' section */
.speaker-panel:last-child {
  margin-bottom: 20px !important;
}

.speaker-card {
  max-width: 260px;
}

.speaker-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 100%;
}

.speaker-info {
  line-height: 100%;
}

.speaker-info h3 {
  margin: 0.3em 0;
  color: #443F79;
}

.speaker-info .speaker-role {
  font-style: italic;
  font-size: small;
}

.speaker-info .speaker-title {

}

/* Sponsors and Parters sections */
.soclogo {
  width: 15%;
  height: auto;
  margin: 1em 2em;
  vertical-align: middle;
}

.latvians {
  width: 10%;
  height: auto;
}

#sponsors-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

#partners-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

.logo-container div {
  height: 150px;
  margin-top: 15px;
  font: 0/0 a; 
}

.logo-container div:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo-container div a {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
}

.logo-container div a img {
  max-width: 100%;
  max-height: 150px;
}

.org-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.org-list li {
  margin-left: 15px;
  padding: 0;
}

.org-list h3 {
  margin: 0.5em 0;
}

/* Patrons' section */
#patron-container {
  margin: 2em auto;
}

/** Speakers */
#placekitten {
  background-image: url("http://placekitten.com/g/512/512");
}

#milda-darguzaite {
  background-image: url("../images/milda-darguzaite.jpg");
}

#andris-ozols {
  background-image: url("../images/andris-ozols.jpg");
}

#ilmars-rimsevics {
  background-image: url("../images/ilmars-rimsevics.jpg");
}

#roberts-zile {
  background-image: url("../images/roberts-zile.jpg");
}

#andy-hopper {
  background-image: url("../images/andy-hopper.jpg");
}

/** Patrons */
#david-hunt {
  background-image: url("../images/david-hunt.jpg");
}

#sarah-cowley {
  background-image: url("../images/sarah-cowley.jpg");
}

#chris-holtby-obe {
  background-image: url("../images/chris-holtby-obe.jpg");
}

/* MOBILE ONLY STYLES */
@media only screen and (max-width: 767px) {
  #title {    
    font-size: 15vw;
  }

  .venue {
    width: 100%;
  }

  .content-padding {
    padding: 0 16px;
  }

  .logo-container div a img {
    max-width: 75%;
    max-height: 150px;
  }

  .subpage h1 {
    padding: 20px 0px;
  }

  #footer #contact ul {
    margin-left: 0;
    padding-left: 0;
  }
}   