{% extends "base/_base.tmpl.html" %}

{% block allbody %}
<div class="navbar-right sb-slidebar sb-style-push sb-right">
    <nav>
        <ul>
            {% for item in nav %}
            <li><a class="sb-close {% if item[0][0] == '#' %}scroller{% endif %}" href="{{ item[0] }}">{{ item[1] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>

<div id="menu" class="sb-slide">
    <div id="menu-content"> <!-- wrap into another div for styling & slidebars compatibility -->
        <div class="row show-screen">
            <ul>
                {% for item in nav %}
                <li><a {% if item[0][0] == '#' %}class="scroller"{% endif %} href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="hide-screen">
            <div class="hamburger-wrapper right">
                <div class="sb-toggle-right navicon">
                    <div class="navicon-line"></div>
                    <div class="navicon-line"></div>
                    <div class="navicon-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sb-site">
    <div id="header">
    {% block header %}
    {% endblock %}
    </div>
    
    {% block body %}
    {% endblock %}
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
    <script>
    {% block bodyscript %}
        $('img').each(function() {
            var o = $(this);
            if(!o.attr('title') && o.attr('alt')) o.attr('title', o.attr('alt'));
        });

        var $root = $('html, body');
        var menuHeight = $('#menu').height();
        $('a.scroller').click(function() {
            var href = $.attr(this, 'href')
            var scrollto = Math.ceil($(href).offset().top - menuHeight);
            $root.animate({
                scrollTop: scrollto
            }, 500, function () {
                if(history.pushState) {
                    history.pushState({}, '', href);
                } else {
                    window.location.hash = href;
                }
            });
            return false;
        });

        var $menu = $('#menu-content');
        var $window = $(window);
        $menu.css('background-color', 'transparent');
        $window.scroll(function() {
            if($menu.offset().top < $window.height() - menuHeight) 
                $menu.css('background-color', 'transparent');
            else $menu.css('background-color', '');
        });

        $.slidebars();
    {% endblock %}
    </script>
</div>
{% endblock %}
