{% extends "common/_base.tmpl.html" %}

{% block head %}
    {{ super() }}
    <style>
        .year {
            width: 50%;
            height: 100vh;
            float: left;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
        }
        #year-2013 {
            background-image: url('static/background-2013-desat.jpg');
        }
        #year-2014 {
            background-image: url('/2014/static/images/background-mq.jpg');
        }
        a.link {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 7vw;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
            margin-top: 40vh;
            text-decoration: none;
            position: relative;
            top: 30vh;
        }
        a.link:hover {
            text-shadow: 0px 0px 5px #0076BD, 0px 0px 5px #0076BD;
        }
        span.subtitle {
            font-size: 3vw;
        }
    </style>
{% endblock %}

{% block allbody %}
    <div id="year-2013" class="year">
        <a class="link" href="2013/">CBC 2013<br><span class="subtitle">Baltic Countries and the EU</span></a>
    </div>
    <div id="year-2014" class="year">
        <a class="link" href="2014/">CBC 2014<br><span class="subtitle">Innovation in Education</span></a>
    </div>
{% endblock %}

