<!doctype html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}Cambridge Baltic Conference{% endblock %}</title>
    <meta charset="utf-8">
    <meta property="og:image" content="http://cambridgebalticconference.eu/static/images/full-logo.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% if nav %}
    <script src="static/stickynav.js"></script>
    {% endif %}
{% endblock %}
</head>
<body>
{% block allbody %}
{% endblock %}
</body>
</html>
