{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}about{% endblock %}
{% block subpage_title %}About{% endblock %}

{% block subpage_content %}
    <p>Just two decades ago the Baltic States reappeared on the map of Europe. Only nine years ago they joined the EU. Now these countries are beginning to lead and inspire the other members with their young enthusiasm, innovative decisions, creative approach to economy, education and culture.</p>
    <p>The Cambridge Baltic Conference brings the Baltic leaders in science, politics and business together with the high-flying students and young professionals in the UK to discuss the united common history, present matters and future aspirations. The challenges overcome and lessons learnt from recent political, social and economic transitions will surely be of interest and high value not only for the Baltic States but for the whole European Union community as well.</p>
    <p>Together with inspiring speeches and engaging panel discussions by highest caliber speakers, participants will be given an opportunity to take part in interactive brainstorming workshops aimed to providing innovative ideas to foster the communication between the Baltic States and the European Union.</p>
    <p>Whether you are from the Baltics, interested in the Baltics, or just want to learn about the success story of the region, you are very welcome to join us.</p>
{% endblock %}
