{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}programme{% endblock %}
{% block subpage_title %}Programme{% endblock %}

{% block subpage_content %}
    <div id="kings"></div>
    <ul class="schedule">
        <li><span>09:00 - 12:00</span>Morning Session of the <a href="static/CBC_2013-Innovation_Workshop.pdf">Innovation Workshop</a>. For selected participants only! See <a class="scroller" href="#workshops">workshop descriptions</a> for more details.</li>
        <li><span>11:00 - 12:00</span>Excursion around Cambridge for early arrivals. Please email <a href="mailto:CambridgeBalticConference@gmail.com">CambridgeBalticConference@gmail.com</a>, if interested in joining.</li>
        <span class="schedsection">First session - Moderated by Dr Ainius Lašas (Dept. of International Relations and Politics, University of Oxford)</span><hr>
        <li><span>12:30 - 12:45</span>President Valdas Adamkus - <span class="talktitle">Welcome Speech</span></li>
        <li><span>12:45 - 13:15</span>Dr Richard Mole - <span class="talktitle">The Baltic States in the early 1990s: overcoming the legacies of Soviet rule</span></li>
        <li><span>13:15 - 13:45</span>Dr Roberts Ķīlis - <span class="talktitle">Is a rapidly growing educational divide also a new long term Baltic predicament?</span></li>
        <li><span>13:45 - 14:00</span>Coffee break</li>
        <span class="schedsection">Second session - Moderated by Mr Tim Hemmings (Head of the Europe Internal Department, Foreign and Commonwealth Office UK)</span><hr>
        <li><span>14:00 - 14:30</span>Mr Edward Lucas - <span class="talktitle">Spies, lies, Russia and the West</span></li>
        <li><span>14:30 - 15:00</span>Mr Arnoldas Pranckevičius - <span class="talktitle">The Baltic vision for the future: scenarios for success</span></li>
        <li><span>15:00 - 15:30</span>Mr Siim Kallas - <span class="talktitle">Alone or together? Strong or fragmented EU?</span></li>
        <li><span>15:30 - 15:45</span>Coffee break</li>
        <span class="schedsection">Workshops and Panel Discussion</span><hr>
        <li><span>15:45 - 17:00</span>Workshops</li>
        <li><span>17:00 - 17:30</span>Workshop presentations</li>
        <li><span>17:30 - 18:30</span>Panel discussion</li>
        <li><span>18:30 - 18:45</span>Closing remarks</li>
        <span class="schedsection">Networking dinner</span><hr>
        <li><span>19:30 - 21:30</span>Dinner<sup>*</sup></li>
        <li><small><sup>*</sup> - Note that the number of available places will be limited.</small></li>
    </ul>
{% endblock %}
