{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}speakers{% endblock %}
{% block subpage_title %}Speakers{% endblock %}

{% block subpage_content %}
    <div class="speakercontainer">
        <div class="speakerrow">
            <div class="speaker">
                <img src="static/images/mr-siim-kallas.jpg">
                <h3>Mr Siim Kallas</h3>
                <ul>
                    <li>Vice-President of the European Commission</li>
                    <li>European Commissioner for Transport</li>
                    <li>Prime Minister of Estonia (2002-2003)</li>
                </ul>
            </div>
            <div class="speaker">
                <img src="static/images/mr-edward-lucas.jpg">
                <h3>Mr Edward Lucas</h3>
                <ul>
                    <li>International Editor of The Economist</li>
                    <li>Oversees the political coverage of Central and Eastern Europe</li>
                    <li>Journalist and author</li>
                </ul>
            </div>
            <div class="speaker">
                <img src="static/images/mr-arnoldas-pranckevicius.jpg">
                <h3>Mr Arnoldas Pranckevičius</h3>
                <ul>
                    <li>Diplomatic Adviser to the President of the EP (2009-2012)</li>
                    <li>President of the Lithuanian Community in Belgium</li>
                    <li>Domestic Policy Adviser to the President of Lithuania (2004-2005)</li>
                </ul>
            </div>
        </div>
        <div class="speakerrow">
            <div class="speaker">
                <img src="static/images/dr-richard-mole.jpg">
                <h3>Dr Richard Mole</h3>
                <ul>
                    <li>Senior Lecturer in Political Sociology at University College London</li>
                    <li>Author of <i>The Baltic States from the Soviet Union to the European Union</i> (Routledge, 2012)</li>
                </ul>
            </div>
            <div class="speaker">
                <img src="static/images/pres-valdas-adamkus.jpg">
                <h3>President Valdas Adamkus</h3>
                <ul>
                    <li>President of Lithuania: from 1998 to 2003 and from 2004 to 2009</li>
                    <li>UNESCO Goodwill Ambasador</li>
                    <li>European of the Year 2007</li>
                </ul>
            </div>
            <div class="speaker">
                <img src="static/images/dr-roberts-kilis.jpg">
                <h3>Dr Roberts Ķīlis</h3>
                <ul>
                    <li>Leading author of Latvia 2030 long term strategy (2007-2009)</li>
                    <li>Minister of Education and Science of Latvia (2011-2013)</li>
                    <li>Associate professor and Head of Business Department, SSE Riga</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
