{% extends "common/_subpage.tmpl.html" %}

{% block subpage_id %}sponsors-partners{% endblock %}
{% block subpage_title %}Sponsors &amp; Partners{% endblock %}

{% block subpage_content %}
    <div class="centered">
        <a href="http://www.investinestonia.com/"><img class="sponsorlogo widerlogo" src="static/images/logo-eas.jpg" alt="Enterprise Estonia"></a>
        <a href="http://triniti.lt/en/"><img class="sponsorlogo widestlogo" src="static/images/logo-triniti.png" alt="TRINITI"></a>
        <a href="http://www.urm.lt/"><img class="sponsorlogo narrowerlogo" src="static/images/logo-urm.png" alt="Ministry of Foreign Affairs of the Republic of Lithuania"></a>
        <a href="http://www.iq.lt/"><img class="sponsorlogo narrowerlogo" src="static/images/logo-iq-lt.png" alt="IQ.lt"></a>
        <a href="http://estonianworld.com/"><img class="sponsorlogo widerlogo" src="static/images/logo-estonian-world.png" alt="Estonian World"></a>
    </div>
    <div class="centered">
        <a href="http://www.lithuaniatribune.com/"><img class="sponsorlogo" src="static/images/logo-lithuania-tribune.png" alt="The Lithuania Tribune"></a>
        <a href="http://uk.mfa.lt/"><img class="sponsorlogo widerlogo" src="static/images/logo-lithuanian-emb.jpg" alt="Embassy of the Republic of Lithuania in the United Kingdom"></a>
        <a href="http://www.mfa.gov.lv/en/london/"><img class="sponsorlogo widelogo" src="static/images/logo-latvian-emb.jpg" alt="Embassy of the Republic of Latvia in the United Kingdom"></a>
        <a href="http://www.embassy-worldwide.com/embassy/embassy-of-estonia-in-london-england-uk/"><img class="sponsorlogo widestlogo" src="static/images/logo-estonian-emb.jpg" alt="Embassy of the Republic of Estonia in the United Kingdom"></a>
    </div>
    <div class="centered">
        <a href="http://www.e-estonia.com/"><img class="sponsorlogo widelogo" src="static/images/logo-e-estonia.jpg" alt="e-Estonia"></a>
        <a href="http://www.lithuanianleaders.org/"><img class="sponsorlogo" src="static/images/logo-gll.png" alt="Global Lithuanian Leaders"></a>
        <a href="http://www.litcityclub.co.uk/"><img class="sponsorlogo narrowerlogo" src="static/images/logo-lclc.png" alt="Lithuanian City of London Club"></a>
        <a href="http://www.bowtie-interior.com/"><img class="sponsorlogo" src="static/images/logo-bowtie.jpg" alt="Bow Tie Creative Interior Design"></a>
        <a href="http://ktu.lt/"><img class="sponsorlogo narrowerlogo" src="static/images/logo-ktu.png" alt="Kaunas University of Technology"></a>
        <a href="http://litsmeet.co.uk/"><img class="sponsorlogo widestlogo" src="static/images/logo-santara-sviesa.jpg" alt="Santaros-Šviesos klubas"></a>
    </div>
{% endblock %}
