/* General rules */
html {
  font-family: "Hind", "Helvetica Neue", "Source Sans Pro", Helvetica, Arial, sans-serif; 
  line-height: 140%;
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
}

video {
	width: 100%;
}

#sb-site {
  overflow-y: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

a,
a:visited {
  color: #4e6088;
}

h2.notice {
  color: #4e6088;
}

p.notice {
  font-weight: bold;
  font-size: 1.5em;
  color: #4e6088;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 1em 0;
}

p.small-notice {
  font-size: 1em;
  color: #4e6088;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0.3em 0;
}

.blue {
  color: #4e6088;
}

.bold {
  font-weight: bold;
}

.centered,
.subpage p.centered {
  text-align: center;
}


/* Header rules */
#header {
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  z-index: -1000;
  background-color: #161b25;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#scroll-arrow {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.5em;
}

#scroll-arrow img {
  width: 130px;
}

#toplogo {
  position: relative;
  background-image: url('../images/top-logo.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}

#banner {
  max-width: 100%;
}

#title {    
  font-size: 64pt;
  line-height: 95%;
}

#subtitle {
  padding-top: 0.5em;
  font-size: 28pt;
  line-height: 1;
}

#date {
  padding-top: 0.8em;
  font-size: 20pt;
}

/* Menu rules */
#menu {
  background-color: #000;
  float: none;
  display: inline-block;
  opacity:0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: auto;
  width: 100%;
  z-index: 1000;
}

#menu-content {
  height: 50px;
  background-color: #1c223d;
  color: #DFFF00;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

#menu ul li {
  float: left;
  height: 50px;
  overflow: hidden;
}

#menu ul li a {
  display: block;
  padding: 0.9em 0.8em;
  text-decoration: none;
  color: #a0a3b1;
  /*height: 100%;*/
}

#menu ul li a:hover {
  color: #ddd;
  opacity:1;
}

.navicon-line {
  width: 24px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #fff;
}

.hamburger-wrapper {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 2;
}

.navicon {
  position: absolute;
  left: 13px;
  top: 17px;
}

.navbar-right {
  background-color: #4e6088 !important;
}

.navbar-right nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.navbar-right ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: #ffffff;
}

.navbar-right ul li a:hover {
  color: #4e6088;
  background-color: #ffffff;
}

/* Subpage general rules */
.subpage-header {
  background-color: #4e6088;
  color: #ffffff;
  font-size: 1.2em;
}

.textual-content {
  margin-top: 1.2em;
}

.subpage h1 {
  clear: both;
  line-height: 130%;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.subpage h1 a,
.subpage h1 a:visited {
  color: #ffffff;
}

.subpage p {
  text-align: justify;
}

.subpage p+p {
  margin-top: 1.5em;
}

.subpage > p:first-of-type {
  margin-top: 2em;
}

.subpage > p:last-of-type {
  margin-bottom: 2em;
}
/* Programme section */
.blue-background {
  background-color: #d5dce8;
  padding: 3px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* About section */
#photos-block img {
  width: 100%;
}

#view-more-pictures h3 {
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

#view-more-pictures a {
  text-decoration: none;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  line-height: 130%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.mid-aligned {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.mid-aligned h1 {
  text-align: center;
}

.large-text {
  font-size: 1.2em;
}

/* Tickets & registration section */
#ticket-container {
  margin: 20px auto;
}

/* Venue section */
#programme-picture {
  width: 100%;
  height: 70vh;
  background-image: url('../images/programme-picture.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#union-picture {
  width: 100%;
  height: 30vh;
  background-image: url('../images/venues/union-mq.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

#hall-picture {
  width: 100%;
  height: 30vh;
  background-image: url('../images/venues/trinity.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

#venue-container {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  background-color: #4e6088;
  color: #FFFFFF;
}

.venue {
  width: 50%;
  float: left;
}

.venue-info-card {
  margin: 20px;
}

.venue-info {
  float: left;
}

.venue-icon-castle {
  width: 50px;
  height: 50px;
  margin: 9px 18px;
  background-image: url('../icons/castle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.venue-name {
  margin: 0 0 0.15em 0;
  font-family: 'Montserrat', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.6em;
}

.venue-address {
  font-style: italic;
}

.content-padding {
  padding: 0 20px;
}

.googlemap {
  width: 100%;
  height: 350px;
}

.maps-container {
  position: relative;
}

.maps-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Footer */
#footer {
  width: 100%;
  background-color: #4e6088;
  color: #ffffff;
}

#footer #contact ul {
  list-style-type: none;
  margin: 50px 0 20px 15px;
  font-size: 1.0em;
}

#footer #contact ul li {
  margin: 0.3em;
}

#footer #contact ul li img {
  margin: -0.1em 1em;
}

#footer a,
#footer a:visited {
  color: #FFFFFF;
}

#copyright {
  color: #fff;
}

#copyright .copytext {
  font-size: 0.75em;
}

#copyright a,
#copyright a:visited {
  color: #fff;
}

/* Schedule section */


.schedule-divider {
}

.schedule-row {
  margin-top: 13px !important;
}

.schedule-row:last-child {
  margin-bottom: 20px !important;
}

.schedule-description p {
  margin: 0;
  padding: 0;
}

ul.panelists {
  color: #000;
  padding: 0 0 0 0.5em;
  margin: 0 0 0 130px;
}

ul.panelists li {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}

ul.schedule {
  list-style-type: none;
  display: table-cell;
  padding: 0;
}

ul.schedule li.highlight{
  font-weight:bold;
  color: #4e6088;
}

.schedule small {
  font-style: italic;
}

.schedule sup {
  z-index: -1;
}

.schedule li {
  padding-bottom: 0.7em;
  margin: 0.8em;
}

.schedule li:last-child {
  padding-bottom: 0;
}

.schedule li span:first-of-type {
/*  color: #4e6088;*/
  color:black;
/*  font-weight: bold;*/
font-weight:normal;
  font-size: 125%;
  float: left;
  width: 130px;
}

.schedule .talktitle {
  font-weight: bold;
  font-style: italic;
}

.schedule-day {
  color: #4e6088;
  margin: 0;
}

.schedule-section {
  color: #4e6088;
  font-size: 1em;
  margin: 0.8em;
}

.schedule-divider {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #eeeeee;
}



/* Speakers' section */

.img--left {
  width: 200px;
  height: 100%;
  display: block;
  float: left;
  width: 200px;
  margin: 0 0.8em 0.8em 0;
  clear: left;
}
.speaker-panel:last-child {
  margin-bottom: 20px !important;
}

.speaker-card {
  background: #f3f3f3;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-height: 200px;
  clear: left;
}

.speaker-description {
	margin: 10px 0 20px 0;
}

.speaker-info {
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.speaker-info h2 {
  margin: 0;
  display: inline-block;
  line-height: 100%;
}

/* Sponsors and Parters sections */
.soclogo {
  width: 15%;
  height: auto;
  margin: 1em 2em;
  vertical-align: middle;
}

.latvians {
  width: 10%;
  height: auto;
}

#main-sponsor {
  max-height: 80px;
}

#sponsors-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

#partners-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

.logo-container div {
  height: 150px;
  margin-top: 15px;
  font: 0/0 a; 
  text-align: center;
}

.logo-container div:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo-container div a {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
}

.logo-container div a img {
  max-width: 100%;
  max-height: 150px;
}

.org-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.org-list li {
  margin-left: 15px;
  padding: 0;
}

.org-list h3 {
  margin: 0.5em 0;
}

/* Patrons' section */
#patron-container {
  margin: 2em auto;
}

/** Past conferences block */
/*.past-year {*/
/*  width: 33.333333%;*/
/*  height: 25vh;*/
/*  float: left;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-position: center center;*/
/*  text-align: center;*/
/*}*/

/*.past-year a {*/
/*  text-align: center;*/
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*  color: #FFFFFF;*/
/*  font-size: 24pt;*/
/*  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;*/
/*  text-decoration: none;*/
/*  top: 9vh;*/
/*  position: relative;*/
/*}*/


#past-conferences {
  height: 25vh;
}

.past-year {
  width: 50%;
  height: 25vh;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.past-year a {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 24pt;
  text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
  text-decoration: none;
  top: 9vh;
  position: relative;
}

.past-year .subtitle {
  font-size: 16pt;
}

.past-year {
  -webkit-filter: grayscale(100%) brightness(75%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(75%);
}

.past-year:hover {
  -webkit-filter: grayscale(100%) brightness(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(100%);
}
#year-2013 {
  background-image: url('../static/background-2013-desat.jpg');
}

#year-2014 {
  background-image: url('../static/background-2014-desat.jpg');
}

#year-2015 {
  background-image: url('../static/background-2015-desat.jpg');
}

#year-2016 {
  background-image: url('../static/main_background_2016_notext.jpg');
}


.past-year a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height:200px;
/*    padding-top: 80%;*/
    display: block;
    margin:10px 0;
    text-decoration: none;
}

.past-year div.text{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 24pt;
    text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
    top: 40%;
    position: relative;
}

.past-year a .subtitle {
  font-size: 14pt;
}

#year-2013 {
  background-image: url('../images/previous-years/background-2013-desat.jpg');
}

#year-2014 {
  background-image: url('../images/previous-years/background-2014-desat.jpg');
}

#year-2015 {
  background-image: url('../images/previous-years/background-2015-desat.jpg');
}
#year-2016 {
  background-image: url('../images/previous-years/background-2016-desat.jpg');
}








/** Patrons */
/*#david-hunt {*/
/*  background-image: url("../images/david-hunt.jpg");*/
/*}*/

/*#sarah-cowley {*/
/*  background-image: url("../images/sarah-cowley.jpg");*/
/*}*/

/*#chris-holtby-obe {*/
/*  background-image: url("../images/chris-holtby-obe.jpg");*/
/*}*/

/* MOBILE ONLY STYLES */
@media only screen and (max-width: 767px) {
  ul.panelists {
    margin: 0;
  }

  #title {    
    font-size: 36pt;
  }

  #subtitle {
    font-size: 20pt;
  }
  .venue {
    width: 100%;
  }

  .content-padding {
    padding: 0 16px;
  }

  .logo-container div a img {
    max-width: 75%;
    max-height: 150px;
  }

  .subpage h1 {
    padding: 20px 0px;
  }

  #footer #contact ul {
    margin-left: 0;
    padding-left: 0;
  }

  .speaker-info {
    overflow: visible;
  }
}

@media only screen and (max-width: 1000px) {
  video {
	width: 1200px;
    height: 800px;
  }
}
